<div class="container">
	
	<div class="row">
		<div class="span12">
			<h3>Our Mission</h3>
			<h2>Tavern Books is a 501(c)(3) not-for-profit literary arts organization based in Portland, Oregon. We exist to print, promote, and preserve works of literary vision, to foster a climate of cultural preservation, and to disseminate books in a way that benefits the reading public.
			<br><br>Tavern Books administers four programs that strive to bring poetry to its widest possible audience: The <a href="/books">Living Library</a> (our publishing program), <a href="/honest-pint">The Honest Pint</a> (our poetics subscription series), <a href="/poetry-state">Poetry State</a> (our books for Oregon libraries campaign), and The Pylon Reading Society (our Portland-based reading, discussion, and lecture series).</h2> 
			<br><br>
			<h3>Why We're Different</h3>
			<p class="lead">In all four of our programs, we take the extra steps necessary to ensure that readers are given exciting and diverse avenues into the essential poetic voices of our modern era. We believe that books are more than words—that’s why all of our Living Library titles are issued in a beautifully designed, uniform series in both paperback and hardcover editions. 
			<br><br>Even though digital short-run printing, e-books, and print-on-demand platforms are markedly inexpensive alternatives to craft printing, we’ve chosen to offset print all of our full-length collections on Heidelberg printing presses here in the Unites States. This traditional craft printing method uses analog printing plates to create books that are exceptionally beautiful and a joy to hold.
			<br><br>We commission original artwork from world-class artists for every title we publish, and believe that the dialog between image and text is an essential, meaningful element of a reader’s experience. And we believe that books deserve to last, which is why the contracts we issue our authors specifically state that all titles we publish will remain in print. We believe that our editorial, design, and production decisions reflect our commitment to the culture of the written word..</p>
		</div>
	</div>
	<div class="dot-separator"></div><br><br>
	<div class="row">
		<div class="span12" align="center">
			<h4>&#9135; Masthead &#9135;</h4>
			<br><br>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<p class="lead"><i>Founding Editors and Publishers</i><br>
				<a href="/carl">Carl Adamshick</a><br>
				<a href="/mike">Michael McGriff</a><br><br>
			
				<i>Managing Editor</i><br>
				Natalie Garyet
				<br><br>
			
				<i>Series Editor, The Honest Pint</i><br>
				<a href="www.matthewdickman.com ">Matthew Dickman</a>
				<br><br>
				<i>Director of Design</i><br>
				Cecilia Yang<br>
				<a href="http://www.ceciliayang.com">ceciliayang.com &rarr;</a><br><br>
				
				<i>Editorial Assistants</i><br>
				Martha Gregor<br>
				Natalie Jabbar<br>
				Elizabeth Pusack
			</p>
		</div>
		<div class="span3 offset1">
			<p class="lead">			
				<i>Board of Directors</i><br>
				Gabriel Boehmer, Board Chair
				<br>Vice President, Corporate Communications, Wells Fargo & Company
				<br><br>
				Roby Roberts, Chair of Fundraising
				<br>Vice President, EDP Renewables
				<br><br>	
				Julie Mancini
				<br>
				Executive Director, Mercy Corps
				<br><br>
				Robert Hunter Jones
				<br>
				American International School, Vienna
				<br><br>
				Tree Swenson
				<br>
				Executive Director, Richard Hugo House
				<br><br>
				Paulann Petersen
				<br>
				Oregon Poet Laureate
			</p>
		</div>
		<div class="span3 offset1">	
			<p class="lead">
				<i>Advisory Board</i><br>
				Erik Muller
				<br>Founder, Traprock Books
				<br><br>
				Matthew O’Malley
				<br>
				Poet and Critic, The Ohio State University
				<br><br>
				Dave Adamshick
				<br>
				Portland Farmers Market
			</p>

		</div>
	</div>
	<div class="dot-separator"></div><br><br>
	<div class="row">
		<div class="span3">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<div align="center">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="EP8X9B9JKHJXL">
				<input class="btn btn-primary btn-large" type="submit" border="0" value="Make a donation" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
		</div>
		<div class="span8 offset1">
			<p class="lead">Tavern Books is a 501(c)(3) not-for-profit organization that is funded, in part, by the generosity of philanthropic organizations, public and private institutions, and individual donors. Your contribution is essential in our effort to print, promote, and preserve the finest poetry books of our modern era.
			<br><br>By supporting Tavern Books and its mission, you enable us to publish the most exciting poets from around the world, revive out-of-print works, and showcase authors who have been historically underrepresented by conventional publishers. Thank you for your support.
			<br><br>
			<i>&#8212; Carl Adamshick &#38; Michael McGriff
			<br>Founding Editors</i></p>
		</div>
	</div>
	
	<div class="dot-separator"></div>
	
	<div class="row">
		<div class="span4">
			<h4>Blog</h4>
			<p><br>Please visit our blog, Crow and Key, to keep up with Tavern Books news, announcements, and commentary.

			<br><a href="http://crowandkey.blogspot.com">http://crowandkey.blogspot.com &rarr;</a></p>
			
		</div>
		<div class="span4 offset1">
			<h4>Submissions</h4>
			<p><br>Due to a backlog of submissions, we are not currently accepting unsolicited manuscripts or manuscript queries at this time. Please check back with us in the future. Thank you for your interest.</p>
		</div>
		<div class="span2 offset1">
			<h4>Contact</h4>
			<p><br>All emails should be directed to <a href="mailto: tavernbooks@gmail.com">tavernbooks@gmail.com</a>.</p>
		</div>
	</div>
	
	<div class="dot-separator"></div><br>
	
	<div class="row">
		<div class="span12 well">
			<div align="center"><h4>&#9135; Ordering &#9135;</h4><br><br></div>
			<h5>Domestic Orders:</h5>
			<br>
			<p class="small">
			For those looking to place an order within the United States, keep in mind that the best way to support Tavern Books is to order directly through our website. You may do so by using a credit card or PayPal account. Chapbook and hardcover editions are available only through our website. Orders over $35 ship for free.<br><br>
			
			<h5>International Orders:</h5>
			<br>
			<p class="small">
			International orders can be placed through <a href="www.spdbooks.org">Small Press Distribution<a/>, <a href="http://www.divisionleap.com/cgi-bin/akd/aboutus.html">Division Leap</a>, and <a href="http://www.divisionleap.com/cgi-bin/akd/aboutus.html">Wessel & Lieberman Booksellers</a>.<br><br>
			
			<h5>Booksellers:</h5>
			<br>
			<p class="small">
			Booksellers are offered a standard discount of 40% on trade editions and 20% on fine editions. Please contact the <a href="mailto:tavernbooks@gmail.com">press</a> to determine payment method and shipping rates. We do not accept returns. Booksellers who need to make returns are encouraged to purchase our titles through our partner distributor, <a href="www.spdbooks.org">Small Press Distribution</a>:
		<br><br>
		<i>Small Press Distribution</i><br>
		www.spdbooks.org<br>
		spd@spdbooks.org<br>
		800.869.7553
		</p>
		</div>
	</div>	
	
</div>