<div class="container">

	<div class="row">
		<div class="span12">
			<h3>Our Mission and Work</h3>
			<h2>Tavern Books is a 501(c)(3) not-for-profit poetry publisher based in Portland, Oregon. We exist to print, promote, and preserve works of literary vision, to foster a climate of cultural preservation, and to disseminate books in a way that benefits the reading public.
			<br><br>
			We administer two programs that strive to bring poetry to its widest possible audience: <a href="/books">The Living Library</a> (our publishing program), and <a href="/wrolstad-series">The Wrolstad Contemporary Poetry Series</a> (our submission-based series open to young women).</h2>
			<br><br>
			<h3>Why We're Different</h3>
			<p class="lead">In all of our programs, we take the extra steps necessary to ensure that readers are given exciting and diverse avenues into the essential poetic voices of our modern era. We believe that books are more than words—that’s why all of our Living Library titles are issued in a beautifully designed, uniform series in both paperback and hardcover editions.
			<br><br>Even though digital short-run printing, e-books, and print-on-demand platforms are markedly inexpensive alternatives to craft printing, we’ve chosen to offset print all of our full-length collections on Heidelberg printing presses here in the United States. This traditional craft method uses printing plates to create books that are exceptionally beautiful and a joy to hold.
			<br><br>We commission original artwork from world-class artists for every title we publish, and believe that the dialog between image and text is an essential, meaningful element of a reader’s experience. And we believe that books deserve to last, which is why the contracts we issue our authors specifically state that all titles we publish will remain in print. We believe that our editorial, design, and production decisions reflect our commitment to the culture of the written word.</p>
		</div>
	</div>
	<div class="dot-separator"></div><br><br>
	<div class="row">
		<div class="span12" align="center">
			<h4>&#9135; Masthead &#9135;</h4>
			<br><br>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<p class="lead"><i>Editor and Publisher</i><br>
				<a href="/carl">Carl Adamshick</a><br><br>

				<i>Managing Editor</i><br>
				Natalie Garyet
				<br><br>

				<i>Series Editor, The Honest Pint</i><br>
				<a href="www.matthewdickman.com ">Matthew Dickman</a>
				<br><br>
				<i>Director of Design</i><br>
				Cecilia Yang<br>
				<a href="http://www.ceciliayang.com">ceciliayang.com &rarr;</a><br><br>

				<i>Volunteers</i><br>
				Heather Brown<br>
				Jennifer Jones<br>
				Hannah Westly<br>
				<a href="http://www.jamesmaynardpoetry.com">James Maynard</a>
			</p>
		</div>
		<div class="span3 offset1">
			<p class="lead">
				<i><b>Board of Directors:</i></b><br><br>
				<i>Board Chair</i><br>
				Gabriel Boehmer<br>
				Vice President, Corporate Communications, Wells Fargo & Company
				<br><br>
				James Ball
				<br>Attorney at Law, Aspect Law Group, LLC
				<br><br>
				Jay Ponteri
				<br>Director, Undergraduate Creative Writing Program at Marylhurst University
				<br>Oregon Book Award-winning author, <i>Wedlocked</i> (Hawthorne Books, 2013)
				<br><br>
				<a href="http://leahstenson.com">Leah Stenson</a>
				<br>Host of <i>Studio Series Poetry Reading</i>, Co-editor of <i>Reverberations from Fukushima</i>, Board member of Friends of William Stafford.
				<br><br>
				Mark Swartz<br>
				Network Engineer, Google
				<br><br>
				Jerry Harp
				Assistant Professor of Humanities, Lewis &amp; Clark College
				<br><br>
				Wendy Willis<br>
				Executive Director, Kitchen Table Democracy<br>
				Director of Civic Engagement, National Policy Consensus Center
			</p>
		</div>
		<div class="span3 offset1">
			<p class="lead">
				<i><b>Advisory Board:</b></i><br><br>
				Paulann Petersen, Poet Laureate of Oregon Emerita
				<br><br>
				Dave Adamshick
				<br>
				Portland Farmers Market
			</p>

		</div>
	</div>
	<div class="dot-separator"></div>

	<div class="row">
		<div class="span5">
			<h4>Social Media</h4>
			<p><br>Please follow us to keep up with Tavern Books news, announcements, and commentary:

			<br><br><a href="https://www.facebook.com/tavernbooks">Facebook</a>
		<br><a href="https://twitter.com/tavernbooks">Twitter</a>
		<br><a href="http://instagram.com/crowandkey">Instagram </a>
		<br><a href="http://crowandkey.tumblr.com">Tumblr</a>
		<br><a href="http://oi.vresp.com/?fid=fafc421f24">Sign up for our e-mail list</a>

		</div>
		<div class="span5 offset2">
			<h4>Contact</h4>
			<p><br>All emails should be directed to <a href="mailto: info@tavernbooks.org">info@tavernbooks.org</a>. All written correspondence may be addressed to:
				<br><br><i>Tavern Books</i>
				<br>Union Station
				<br>800 NW 6th Ave. #255
				<br>Portland, Oregon  97209
			</p><br>
			<p><i>Call us</i><br>(503) 890-5043</p>
		</div>
	</div>

	<div class="dot-separator"></div><br>

	<div class="row">
		<div class="span12 well">
			<div align="center"><h4>&#9135; Ordering &#9135;</h4><br><br></div>
			<div class="span3">
				<h5>Domestic Orders:</h5>
				<br>
				<p class="small">
				For those looking to place an order within the United States, keep in mind that the best way to support Tavern Books is to order directly through our website. <br><br>You may do so by using a credit card or PayPal account. Chapbook and hardcover editions are available only through our website. Orders over $35 ship for free.<br><br>
			</div>
			<div class="span3 offset1">

				<h5>International Orders:</h5>
				<br>
				<p class="small">
				International orders can be placed through <a href="http://www.spdbooks.org/Search/?publisherName=Tavern+Books">Small Press Distribution</a>. Or, contact us at <a href="mailto: info@tavernbooks.org">info@tavernbooks.org</a>.<br><br>
			</div>

			<div class="span3 offset1">

				<h5>Booksellers:</h5>
				<br>
				<p class="small">
				Booksellers are offered a standard discount of 40% on both trade editions and fine editions. Please contact the <a href="mailto:info@tavernbooks.org">press</a> to determine payment method and shipping rates. We do not accept returns.<br><br>
				Booksellers who need to make returns are encouraged to purchase our titles through our partner distributor, <a href="http://www.spdbooks.org/Search/?publisherName=Tavern+Books">Small Press Distribution</a>:
				<br><br>
				<i>Small Press Distribution</i><br>
				www.spdbooks.org<br>
				spd@spdbooks.org<br>
				800.869.7553
				</p>
			</div>
		</div>
	</div>

</div>
