<div class="container">
	
	<div class="row">
		<div class="span12">
			<h2>Tavern Books is a 501(c)(3) not-for-profit organization that exists to print, promote, and preserve works of literary vision, to foster a climate of cultural preservation, and to disseminate books in a way that benefits the reading public.</h2> 
			<p class="lead">In addition to reviving out-of-print books, we publish works in translation from the world’s finest poets. We keep our titles in print, honoring the cultural contract between publisher and author, as well as between publisher and public. Our catalog, known as The Living Library, sustains the visions of our authors, ensuring their voices are alive in the social and artistic discourse of our modern era.</p>
		</div>
	</div>
	<div class="dot-separator"></div><br><br>
	<div class="row">
		<div class="span12" align="center">
			<h4>&#9135; Masthead &#9135;</h4>
			<br><br>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<p class="lead"><i>Founding Editors and Publishers</i><br>
				<a href="/carl">Carl Adamshick</a><br>
				<a href="/mike">Michael McGriff</a><br><br>
			
				<i>Managing Editor</i><br>
				Britta Ameel
			</p>
		</div>
		<div class="span3 offset1">
			<p class="lead">
				<i>Board of Directors</i><br>
				Gabriel Boehmer<br>
				Erik Muller<br>
				Matthew O'Malley<br>
				Paulann Petersen<br><br>

				<i>Executive Administrator</i><br>
				Robert Ingle
			</p>
		</div>
		<div class="span3 offset1">	
			<p class="lead">			
				<i>Director of Design</i><br>
				Cecilia Yang<br>
				<a href="http://www.ceciliayang.com">ceciliayang.com &rarr;</a><br><br>
				
				<i>Editorial Assistants</i><br>
				Martha Gregor<br>
				Natalie Jabbar<br>
				Elizabeth Pusack
			</p>
		</div>
	</div>
	<div class="dot-separator"></div><br><br>
	<div class="row">
		<div class="span3">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<div align="center">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="EP8X9B9JKHJXL">
				<input class="btn btn-primary btn-large" type="submit" border="0" value="Make a donation" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
		</div>
		<div class="span8 offset1">
			<p>Tavern Books is a 501(c)(3) not-for-profit organization that is funded, in part, by the generosity of philanthropic organizations, public and private institutions, and individual donors. Your contribution is essential in our effort to print, promote, and preserve the finest poetry books of our modern era.
			<br><br>By supporting Tavern Books and its mission, you enable us to publish the most exciting poets from around the world, revive out-of-print works, and showcase authors who have been historically underrepresented by conventional publishers. Thank you for your support.
			<br><br>
			<i>&#8212; Carl Adamshick &#38; Michael McGriff
			<br>Founding Editors</i></p>
		</div>
	</div>
	
	<div class="dot-separator"></div>
	
	<div class="row">
		<div class="span4">
			<h4>Blog</h4>
			<p><br>Please visit our blog, Crow and Key, to keep up with Tavern Books news, announcements, and commentary.

			<br><a href="http://crowandkey.blogspot.com">http://crowandkey.blogspot.com &rarr;</a></p>
			
		</div>
		<div class="span4 offset1">
			<h4>Submissions</h4>
			<p><br>Due to a backlog of submissions, we are not currently accepting unsolicited manuscripts or manuscript queries at this time. Please check back with us in the future. Thank you for your interest.</p>
		</div>
		<div class="span2 offset1">
			<h4>Contact</h4>
			<p><br>All emails should be directed to <a href="mailto: tavernbooks@gmail.com">tavernbooks@gmail.com</a>.</p>
		</div>
	</div>
	
	<div class="dot-separator"></div><br>
	
	<div class="row">
		<div class="span12 well">
			<div align="center"><h4>&#9135; Ordering &#9135;</h4><br><br></div>
			<p class="small">For those looking to place an order within the United States, keep in mind that the best way to support Tavern Books is to order directly through our website. You may do so by using a credit card or PayPal account.<br><br>

			In the spirit of all-things-independent, our titles may be ordered through your favorite local book store.<br><br>

			Individuals and organizations in the Unites States who wish to place a bulk order (10 or more copies of the same title) may be eligible for a discount. Please contact the press for more information.<br><br>

			Booksellers are offered a standard discount, and should contact the press to determine payment method and shipping rates. We do not accept returns.<br><br>

			Booksellers who may need to make returns, and those wishing to place an international order, should order our titles through our distributor, Small Press Distribution.
		<br><br>
		<i>Small Press Distribution</i><br>
		www.spdbooks.org<br>
		spd@spdbooks.org<br>
		800.869.7553
		</p>
		</div>
	</div>	
	
</div>