<div class="container">
  <div class="row">
    <div align="center">
      <!-- <img src="/" alt="Acknowledgements Banner"/> -->
    </div>
  </div>
  <div class="row">
    <h2 align="center">Our Supporters</h2><br>
    <p align="center">
      The support of our readers is essential to the growth and success of Tavern Books. We gratefully acknowledge and offer our humble thanks to the following organizations and individuals for their vision and generosity.
    </p>
  </div>
  <div class="row">
    <h2 align="center">GRANT SUPPORT PROVIDED BY</h2>
    <div class="span4">
      <a href="http://arts.gov"><img src="/assets/logo-national-endowment-arts.png"/></a>
    </div>
    <div class="span4">
      <a href="http://www.literary-arts.org/"><img src="/assets/logo-literary-arts.png"/></a>
    </div>
    <div class="span4">
      <a href="http://www.lannan.org"><img src="/assets/logo-lannan-foundation.png"/></a>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <a href="http://www.thelibrafoundation.org/"><img src="/assets/logo-libra-foundation.png"/></a>
    </div>
    <div class="span3">
      <a href="http://www.culturaltrust.org/"><img src="/assets/logo-oregon-cultural-trust.png"/></a>
    </div>
    <!-- <div class="span3">  NEED LOGO TO PUT IN POLAND INSTITUTE FUNDING
      <a href=""><img src="/assets/"/></a>
    </div> -->
    <div class="span3">
      <a href="http://www.thecommunityfund.com/"><img src="/assets/logo-spirit-mountain.png"/></a>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <a href="http://www.oregonartscommission.org/"><img src="/assets/logo-oregon-arts-commission.png"/></a>
    </div>
    <div class="span4">
      <a href="http://www.racc.org/"><img src="/assets/logo-regional-arts-culture.png"/></a>
    </div>
    <div class="span4">
      <div class="span4">
        <a href="http://www.mmt.org/"><img src="/assets/logo-meyer-memorial-trust.png"/></a>
      </div>
      <div class="span4">
        <a href="http://www.culture.si/en/Trubar_Foundation"><img src="/assets/logo-trubar-foundation.png"/></a>
      </div>
    </div>
  </div>
</div>
