<div class="container">
  <div class="container">
    <div align="center">
      <img src="/assets/support_page_banner.jpg" alt="Acknowledgements Page Banner"/>
    </div>
  </div>
  <div class="container">
    <h2 align="center">Our Supporters</h2><br>
    <p align="center">
      The support of our readers is essential to the growth and success of Tavern Books. We gratefully acknowledge and offer our humble thanks to the following organizations and individuals for their vision and generosity.
    </p>
  </div>
  <div class="container">
    <h2 align="center">GRANT SUPPORT PROVIDED BY</h2>
  </div>
  <div class="container">
    <ul class="logo-container" style="list-style:none;">
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-literary-arts.png"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-trubar-foundation.png"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-poster-garden.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-mmt.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-schwab-charitable.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-oac.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-spirit-mountain.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-mu.jpg"></a>
      </li>
    </ul>
    <ul class="logo-container" style="list-style:none;">
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-nea.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-lannan.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-libra.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-mark-spencer.png"></a>
      </li>
    </ul>
    <ul class="logo-container" style="list-style:none;">
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-racc.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-mother-foucaults.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-octg.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-polish-book-institute.jpg"></a>
      </li>
    </ul>
  </div>
</div>
