<div class="container">
  <div class="container">
    <div align="center">
      <img src="/assets/support_page_banner.jpg" alt="Acknowledgements Page Banner"/>
    </div>
  </div>
  <div class="container">
    <h2 align="center">Our Supporters</h2><br>
    <p align="center">
      The support of our readers is essential to the growth and success of Tavern Books. We gratefully acknowledge and offer our humble thanks to the following organizations and individuals for their vision and generosity.
    </p>
  </div>
  <div class="container">
    <h2 align="center">GRANT SUPPORT PROVIDED BY</h2>
  </div>
  <div class="container">
    <ul class="logo-container" style="list-style:none;">
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-literary-arts.png"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-trubar-foundation.png"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-poster-garden.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-mmt.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-schwab-charitable.jpg"></a>
      </li>
    </ul>
    <ul class="logo-container" style="list-style:none;">
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-nea.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-lannan.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-libra.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-mark-spencer.png"></a>
      </li>
    </ul>
    <ul class="logo-container" style="list-style:none;">
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-racc.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-mother-foucaults.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-octg.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-oac.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-polish-book-institute.jpg"></a>
      </li>
    </ul>
    <ul class="logo-container" style="list-style:none;">
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-spirit-mountain.jpg"></a>
      </li>
      <li class="logo-item">
        <a  href=""><img src="/assets/logo-mu.jpg"></a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="span10 offset1" align="center" style="padding-top:40px;">
<!-- 			<p class="lead">The support of our readers is essential to the growth and success of Tavern Books. We gratefully acknowledge and offer our humble thanks to the following organizations and individuals for their vision and generosity:</p> -->
<!-- 			<br><br><h5>GRANT SUPPORT PROVIDED BY</h5><br>
    <p>
      <a href="http://www.lannan.org">Lannan Foundation</a>
      <br><a href="http://arts.gov/">National Endowment for the Arts</a>
      <br><a href="http://www.mmt.org/">Meyer Memorial Trust</a>
      <br><a href="http://www.culturaltrust.org">Oregon Cultural Trust</a>
      <br><a href="http://www.racc.org/">Regional Arts &amp; Culture Council</a>
      <br><a href="http://www.thelibrafoundation.org/">The Libra Foundation</a>
      <br><a href="http://www.literary-arts.org">Literary Arts</a>
      <br><a href=" http://www.thecommunityfund.com/">Spirit Mountain Community Fund</a>
      <br><a href="http://www.oregonartscommission.org/">Oregon Arts Commission</a>
      <br><a href="http://www.culture.si/en/Trubar_Foundation">Trubar Foundation / Slovene Writers' Association</a>
      <br><a href="http://www.williamstafford.org/">The Friends of William Stafford</a>
    </p>
    <br><br> -->
    <p><h5>IN-KIND SUPPORT PROVIDED BY</h5></p>
    <p><a href="http://postergarden.com">PosterGarden</a><br><a href="http://www.markspencer.com/">The Mark Spencer Hotel</a>
    </p>
    <br><br><h5>VISIONARIES ($5,000 and over)</h5>
    <p>
      <br>Anonymous (2)
      <br>The Mancini Family
    </p>

    <br><br><h5>Patrons ($2,500 to $4,999)</h5>
    <p>
      <br>Anonymous (3)
      <br>Pierre Rioux
      <br>Leah &amp; Bill Stenson
    </p>

    <br><br><h5>Partners ($1,000 to $2,499)</h5>
    <p>
      <br>Gabriel Boehmer
      <br>Dean &amp; Karen Garyet
      <br>Jennifer Jones &amp; Mark Swartz
      <br>Marjorie Simon
      <br>Dan Wieden
      <br>Ron &amp; Kathy Wrolstad

    </p>

    <br><br><h5>Friends ($300 to $999)</h5>
    <p>
      <br>Anonymous (4)
      <br>Joseph Bednarik
      <br>Audrey Block
      <br>Matthew Dickman
      <br>Chris Faatz &amp; Mary Zartman <i>(in memory of Vern Faatz)</i>
      <br>Dan Gerber
      <br>Quinton Hallett
      <br>Kathryn Harbour
      <br>Mark Jarman
      <br>Glenna Luschei
      <br>Joseph Millar &amp; Dorianne Laux
      <br>Rodger Moody
      <br>Phoebe Nobles
      <br>Mary Ann Ryan
      <br>Carol Sklenicka &amp; R.M. Ryan
      <br>Donna Swartz
      <br>Jonathan Wells
      <br>David Wevill
      <br>John Witte &amp; Deb Casey

    </p>

    <br><br><h5>Supporters (Up to $299)</h5>
    <p>
      <br>Dave Adamshick
      <br>Stephanie Adams-Santos
      <br>Jeffrey Alfier
      <br>Kathy Anderson
      <br>Diana Arterian
      <br>Suzanne Asmus
      <br>David Axelrod
      <br>Tim Barnes
      <br>Dan Bellm
      <br>Rebecca Burrell
      <br>Heather Brown
      <br>Henry Carlile
      <br>Erin Carver
      <br>Patricia Carver
      <br>Jerome David Casey
      <br>Tex Clark &amp; Anna Campbell
      <br>Rick Comandich
      <br>Meaghan Corwin
      <br>Tonaya Craft
      <br>Olivia Croom
      <br>Michael Davidson &amp; Patricia Johnson
      <br>Susan Denning
      <br>Molly Dickinson
      <br>Rich Eichen
      <br>Jan Ellison
      <br> Erickson
      <br>Peter Everwine
      <br>Elyse Fenton
      <br>Patricia Fisher
      <br>Jerry &amp; Martha Gatchel
      <br>Albert Goldbarth
      <br>Willow Hall
      <br>Robert Hass
      <br>Robert Hedin
      <br>Maddelyn High
      <br>Tom Hogan
      <br>Shirley Horowitz
      <br>Jacqueline Hoyt
      <br>Ana Jokkmokk
      <br>J. Kleinstein
      <br>Matthew Korfhage
      <br>Monica King
      <br>Ted Kooser
      <br>Brett Fletcher Lauer
      <br>Rhett Lawrence &amp; LeeAnn Friedman
      <br>Joseph Leitschuh
      <br>Philip Levine
      <br>Shannon &amp; David Ludeman
      <br>Ruth Madievsky
      <br>Michael &amp; Taunia Mann
      <br>Paul &amp; Karma Martone
      <br>Jo McDougall
      <br>Megan McMorran
      <br>Richard Meeker &amp; Ellen Rosenblum
      <br>Liz Mehl
      <br>Paul &amp; Grace Merchant
      <br>Leah Middlebrook
      <br>Airin Miller
      <br>Gary Miranda &amp; Patty Cassidy
      <br>Danielle Mitchell
      <br>James Moore
      <br>John Morrison &amp; Kim Thomas
      <br>Patricia &amp; Robert Mossbrucker
      <br>Judith Norton
      <br>Adam Oliansky
      <br>Ann Marie O'Malley &amp; Burton Ford
      <br>Ken Pallack &amp; Paulann Petersen
      <br>John Parks
      <br>Rodney Pease
      <br>Dre Perlaki
      <br>Virginia Perry
      <br>Paul Pierce &amp; Joanne Fuller
      <br>Christine Placek
      <br>Jay Ponteri
      <br>Donna Prinzmetal &amp; Stephen Kirsch
      <br>Alice Quinn
      <br>Andrew Ragland
      <br>Martha Ragland
      <br>Shelagh Regan
      <br>Nicholas Reiner
      <br>Leslie Riester &amp; Tamara Sorelli
      <br>David Rivard
      <br>Richard Robbins
      <br>David Roderick
      <br>Lex Runciman
      <br>Charles Seluzicki
      <br>Marie Scarles
      <br>Sue &amp; Wally Schaefer
      <br>Evan P. Schneider
      <br>Penelope Schott
      <br>Joanne Lee Shaver
      <br>Lee Shore
      <br>Clare Shreve
      <br>Ed Skoog
      <br>R.L. Solivais
      <br>Joe Thaler &amp; Ariel Stone
      <br>Mary Szybist &amp; Gerald Harp
      <br>Charlotte &amp; Robert K. Udziela
      <br>Michael &amp; Sarah Van Kleeck
      <br>Don Whittemore
      <br>Zosia Wiatr
      <br>Margaret Willer
      <br>Kevin Williams
      <br>Vince &amp; Patty Wixon
      <br>Michael Wynn
      <br>Rebecca Yates
      <br>Rebecca Youngstrom &amp; Ronald Atwood

    </p>


  </div>
</div>
