<div class="container" style="padding-top:25px;">
	<div class="row">
		<div class="span4">
			<img class="shadow" src="/assets/carl.jpg">
		</div>
		<div class="span7 offset1">
			<h1>Carl Adamshick</h1>
			
			<br><br>

			<p class="lead">Carl Adamshick received the 2010 Walt Whitman Award from the Academy of American Poets judged by Marvin Bell. His book, Curses and Wishes, is published by Louisiana State University Press. His poems and essays have appeared in Narrative, American Poetry Review, Tin House, The Harvard Review, and elsewhere. He lives in Portland, Oregon.</p>

			<p class="lead"><a href="mailto:carl@tavernbooks.org">carl@tavernbooks.org</a></p>
			
			<br>
			
			<h2>&#10539;&nbsp;&nbsp;</h2>
			
			<br>
			
			<p class="quote">photo credit: Jessie Sue Hibbs</p>
			
			
		</div>
	</div>
</div>