<div class="container">
	
	<div class="row">
		<div class="span12">

			<h1>Book Drive for Rural Oregon Libraries and Tribal Libraries</h1>
			 
			<br><br>
			
			<p class="lead">
			Please join Tavern Books in building and sustaining the poetry collections in Oregon's rural and tribal libraries. <a href="http://www.paulann.net/index.php">Paulann Petersen</a>, Oregon's current Poet Laureate, has made our book drive a priority for her upcoming term as our state's poet. The libraries benefiting from this program are those who serve communities of 5,000 or fewer. 
			<br><br>You can support this book drive by sending us your used or new poetry books, poetry anthologies, and books pertaining to poetry and poetics. No donation is too large or too small. Every book counts! We will acquire these books and redistribute them to participating rural and tribal libraries. Tavern Books is committed to making great works of poetry available to the reading public. Thank you for your support.</p>
			
			<p align="center" class="divider"><br>&#10539;<br><br></p>
			
		</div>
	</div>
	<div class="row">
		<div class="span5">
			<p class="lead">
			Please send your book donations to:
			<br><br>

			<i>Tavern Books</i>
			<br>attn: Carl Adamshick
			<br>20 NE 30th Avenue
			<br>Portland, Oregon 97232
			</p>
			
		</div>
	<div class="row">
		<div class="span5 offset2">
			<p class="lead">
			Or, you can make a donation online:
			<br>

			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="EP8X9B9JKHJXL">
			<input class="btn btn-primary btn-large" type="submit" border="0" value="Make a donation" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
		</div>
	</div>
	<br>
</div>
</div>