<div class="container">
	<div class="row">
			<p align="center"><img src="/assets/header-honestpint.jpg">
			</p>
	</div>
	
	<div class="row" style="padding-top:40px;">
		<div class="span8 offset2">
				<p class="lead">The Honest Pint is a subscription series edited by Matthew Dickman. Each month, subscribers receive a brief prose piece written by a contemporary author that celebrates the work of a poet. Each piece is uniquely designed and printed, and often contains exciting ephemera. Nothing digital about it. The Honest Pint arrives only by mail. This analog-era throwback is all about paper, ink, and a writer's brain, as well as the interplay between good design, text, and image.
				<br><br>This unconventional literary journal takes many shapes: traditional essay, cross-genre experiment, cartoon strip, hand-written note, a brief interview—you name it! The Honest Pint connects a diverse landscape of contemporary writers and thinkers to subscribers through essays, visual art, and various hybrid forms that are casual, unexpected, and delightfully meaningful.</p>
		</div>
	</div>
	<div class="row" style="padding-top:30px;">
		<div class="span8 offset2" align="center">	
			
<!-- 			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="AUAZDRW3322DC">
			<input class="btn btn-primary btn-large" type="submit" border="0" value="Subscribe Now" alt="Subscribe to the Honest Pint">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
			<p class="lead" style="padding-top:20px;"><i>Your credit card will be automatically charged $5 each month.<br>You will receive your Honest Pint in the mail via the US Postal Service.</i><br><br></p>
 -->

	
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="CF4JYDEZA7TZ2">
			<input class="btn btn-primary btn-large" type="submit" border="0" value="Annual Subscription ($60/year)" alt="Subscribe to the Honest Pint" style="width: 360px">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>

			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="AUAZDRW3322DC">
			<input class="btn btn-inverse btn-large" type="submit" border="0" value="Monthly Subscription ($5/month)" alt="Subscribe to the Honest Pint" style="width: 360px">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>

<!-- 			<p class="lead" style="padding-top:20px;">$60/year</i><br><br></p>
 -->		
			<div class="accordion" id="accordion2" style="padding-top:50px;">
		    	<div class="accordion-group">
			    	<div class="accordion-heading">
					    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					    	<p class="lead"><i>If your address changes...</i></p>
					    </a>
				    </div>
				    <div id="collapseOne" class="accordion-body collapse">
				   		<div class="accordion-inner">
					   		 <p>If you move or change addresses, please email us at <a href="mailto:tavernbooks@gmail.com">tavernbooks@gmail.com</a> with "Honest Pint Address Change" in the subject line. We don't want you to miss out!</p>
						</div>
				    </div>
				  </div>
				
				  <div class="accordion-group">
				  	<div class="accordion-heading">
				    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				     		<p class="lead"><i>To unsubscribe...</i><p>
				    	</a>
				    </div>
				    <div id="collapseTwo" class="accordion-body collapse">
				    	<div class="accordion-inner">
					    	<p style="padding-bottom:20px;">Simply click the Unsubscribe button. You can sign up again at any time.</p>
							<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=LW57XXSV76DHC">
							<input class="btn btn-inverse btn-large" type="submit" border="0" value="Unsubscribe" alt="Unsubscribe from the Honest Pint">
							</a>
					    </div>
				    </div>
			    </div>
		    </div>
			
		</div>
	</div>
	<div class="row">
		<div class="span8 offset2" align="center">
			<div class="dot-separator"></div>
			<br>
			<h3>The Honest Pint No.5</h3>
			<p align="center"><img src="/assets/honest-pint-5.jpg" width="500px"></p>
			<div class="dot-separator"></div>
			<h3>The Honest Pint No.4</h3>
			<p align="center"><img src="/assets/honest-pint-4.jpg" width="500px"></p>
			<div class="dot-separator"></div>
			<h3>The Honest Pint No.3</h3>
			<p align="center"><img src="/assets/honest-pint-3.jpg" width="500px"></p>
			<div class="dot-separator"></div>
			<h3>The Honest Pint No.2</h3>
			<p align="center"><img src="/assets/honest-pint-2.jpg" width="500px"></p>
			<div class="dot-separator"></div>
			<h3>The Honest Pint No.1</h3>
			<p align="center"><img src="/assets/honest-pint-1.jpg" width="450px" style="-webkit-box-shadow: 0px 0px 1px 1px #dddddd;box-shadow: 0px 0px 1px 1px #dddddd; -webkit-border-radius: 10px; border-radius: 10px;"></p>
			<div class="dot-separator"></div>
			<br><br>
			<p align="center"><img src="/assets/logo-thehonestpint.jpg" width="300px"></p>
		</div>
	</div>
	
</div>