<div class="container">
	<div class="row">
			<p align="center"><img src="/assets/header-honestpint.jpg"></p>
	</div>
	
	<div class="row" style="padding-top:40px;">
		<div class="span8 offset2">
				<p class="lead">The Honest Pint is a subscription series edited by Matthew Dickman. Each month, subscribers will receive a brief prose piece written by a contemporary poet celebrating the work of another poet. Each piece will be uniquely printed and accompanied by exciting ephemera. Nothing digital about it. This analog-era throwback is all about paper, ink, and a poet’s brain. The monthly Honest Pint will take many shapes: traditional essay, cross-genre experiment, cartoon strip, hand-written note, a brief interview—you name it! The purpose of this series is to connect the diverse landscape of contemporary poets to the reading public in a casual, meaningful, and unexpected way.</p><br>
			<p align="center"><img src="/assets/logo-thehonestpint.jpg"></p>
			<br><br><h3>How to Subscribe:</h3> 
			<p class="lead">Subscriptions will be offered in December 2012, and the first Honest Pint will be mailed in January 2013. Please check back soon!</p>
		</div>
	</div>
</div>