<div class="container" style="padding-top:25px;">
	<div class="row">
		<div class="span4">
			<img class="shadow" src="/assets/mike.jpg">
		</div>
		<div class="span7 offset1">
			<h1>Michael McGriff</h1>
			
			<br><br>

			<p class="lead">Michael McGriff was born and raised in Coos Bay, Oregon. His books include Dismantling the Hills; an edition of David Wevill's essential works, To Build My Shadow a Fire: The Poetry and Translations of David Wevill; a translation of Tomas Transtrðmer's The Sorrow Gondola; and a forthcoming volume of poetry, Home Burial (Copper Canyon Press, April 2012). In 2010 he received a Lannan Literary Fellowship. He lives in Salt Lake City, Utah.</p>

			<p class="lead"><a href="mailto:mmcgriff@gmail.com">mmcgriff@gmail.com</a></p>
			
			<br>
			
			<h2>&#10539;&nbsp;&nbsp;</h2>
			
			<br>
			
			<p class="quote">photo credit: David Newkirk Photography</p>
			
			
		</div>
	</div>
</div>