<div class="container">
	
	<div class="row">
			<p align="center"><img src="/assets/header-poetrystate.jpg"><br><br><img src="/assets/logo-poetrystate.jpg">
			</p>
	</div>
	
	<div class="row" style="padding-top:10px;">
		
		<div class="span10 offset1">
				
				<h1><i>Poetry State is a unique program that builds and sustains the poetry collections in Oregon libraries. We acquire donated poetry books from individuals, bookstores, publishers, and philanthropic institutions from across the nation for the exclusive purpose of donating them to Oregon libraries.</i></h1>
				
				<br>
			
			<h3>How it Works:</h3> <p class="lead">Libraries contact us and let us know how many books they need (or how many inches of shelf space they need to fill), then we work with them to select books that fit their specific needs. We pack and ship (or personally deliver) the books to participating libraries free of charge. Though all Oregon libraries are welcome to participate in Poetry State, we give preference to libraries that serve populations of 5,000 or fewer and Tribal communities.</p> 
			<br>
			<h3>How to Participate:</h3> <p class="lead">If you are a library and would like to participate in Poetry State, please e-mail us at tavernbooks@gmail.com with “Poetry State” in the subject line. We will be glad to sign you up or answer any questions.</p>
			<br>
			<h3>How to Help:</h3> <p class="lead">You can support Poetry State by sending Tavern Books your used or new poetry books (including poetry anthologies and books pertaining to poetry and poetics). No donation is too large or too small. Every book counts! Every book you send will directly benefit a library in need. </p>
		</div>
	</div>
	<div class="row">
		<div class="span5 offset4">
			<p class="lead"><br>
			<i>Please send your book donations to:</i>
			<br><br>
			Tavern Books
			<br>attn: Carl Adamshick
			<br>20 NE 30th Avenue
			<br>Portland, Oregon 97232
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span10 offset1">
			<br>
			<h3>Making a Financial Contribution:</h3><p class="lead">Making a tax-deductible donation to Poetry State will help ensure that everyone in Oregon has access to great works of poetry through their local library. In its first year, Poetry State donated nearly 2,000 books to Oregon libraries (a value of $30,000). We live and work in Oregon, and we are doing our part to give back to a state that values its readers. Poetry State could not exist without your vision and support. <p>
				<br>
			<p align="center" class="divider">&#10539;&nbsp;&nbsp;&nbsp;&#10539;&nbsp;&nbsp;&nbsp;&#10539;<br><br><br></p>
			<p class="lead"><i>Supporting Publishers and Institutions:<br><a href="http://www.lannan.org/" target="new">Lannan Foundation</a>, <a href="http://www.whitepine.org/" target="new">White Pine Press</a>, <a href="http://www.losthorsepress.org/">Lost Horse Press</a>, Traprock Books.</i></p>
		</div>
	</div>			
</div>