<div class="container">
	<div class="row">
			<p align="center"><img src="/assets/logo-pylon.png"></p>
	</div>
	
	<div class="row" style="padding-top:40px; padding-bottom:50px;">
		<div class="span8 offset2">
			<h4>Py.lon: noun \ˈpī-ˌlän, -lən\: a massive gateway</h4><br><br>
			<p class="lead">The Pylon Reading Society is a series of readings, lectures, and discussions hosted by Tavern Books. These events offer the public an opportunity to engage with an exciting range of writers, translators, and thinkers. 
			<br><br>Pylon events take place in venues across Portland, Oregon, and are free and open to the public. 
			<br><br>In the future, this web page will include a podcast archive featuring all Pylon events.
		
			<div class="dot-separator"></div>
			
			<div align="center">
				<h4>&#9135; Forthcoming Events &#9135;</h4>
				<br>
			<h2>A Reading and Gallery Event Celebrating Tomas Tranströmer, featuring Malena Mörling</h2>
			<p class="lead">
				April 6, 2013 / 7:30 FREE
				<br>Division Leap / 6635 North Baltimore St. #132
				<br>Portland, OR 97203
			</p>
			
		</div>
	</div>
</div>