<div class="container">

	<div class="row" style="padding-top:10px;">
		<div class="col-md-10">
			<h2>Tavern Books is a literary publisher that specializes in innovative works of poetry. We accept unsolicited manuscripts of new poetry exclusively through the <a href="/wrolstad-series">Wrolstad Contemporary Poetry Series</a>.</h2><br>
			<p>Currently, we are only reading manuscript queries for poetry books that fall into the following two categories:</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<p>
				1.  <i>Poetry Manuscripts in Translation:</i> Single-author poetry manuscripts translated into English.
				<br><br>2.  <i>English-Language, Single-Author Poetry Reprints: </i>Reprints of important single-author poetry collections in English that have been previously published but have fallen out of print.
			</p>
		</div>
	<div class="row">
		<div class="col-md-10">
			<p>If you have a manuscript that falls into one of the aforementioned categories, and feel that it would make a good addition to our Living Library series, please follow the submission guidelines below. Before you send work, we ask that you familiarize yourself with our editorial mission, our authors and titles, and the scope of the press.<br><br>Tavern Books is staffed by published authors and translators; as such, we value your work, your time, and the commitment you’ve given to your craft. Please support our efforts by going to our <a href="http://tavernbooks.com/books">Living Library</a> and purchasing a book by one of our incredible authors.</p>
		</div>
	</div>

	<div id="nav-submissions-lists" class="row" style="padding-top:40px;">
		<div class="col-md-10">
			<ul class="nav nav-tabs submissions-title">
			  <li class="active"><a href="#tab1" data-toggle="tab">Poetry Manuscripts in Translation</a></li>
			  <li><a href="#tab2" data-toggle="tab">English-Language, Single-Author Poetry Reprints</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10">
			<div class="tab-content" style="padding-top:20px;">
			  <div class="tab-pane fade in active" id="tab1">
						<h2>Submitting Poetry Manuscripts in Translation</h2>
						<br><br>
						<p>Please note that we prefer to publish single volumes of poetry, not ‘selected’ or ‘essential’ works. We feel very strongly about this. If you have a translation manuscript that you would like us to consider for publication, please send us a printed submission with the following: </p>

						<ul class="submissions-list">
							<li>A cover letter with all relevant contact information: your name, postal address, e-mail address, phone number, etc.</li>
							<li> A 250-word (max) author biography.</li>
							<li> A 250-word (max) biography for each translator involved in the project.</li>
							<li> A brief book description (500 words max) that addresses the book's cultural, historical, and artistic significance.</li>
							<li> A signed and dated copyright permission form indicating that ALL copyright permissions and/or reprint rights have been formally obtained by the author and translator. We will not, under any circumstance, consider books for publication that do not have formal copyright clearance.</li>
							<li> A 10- to 15-page book excerpt.</li>
							<li> A stamped postcard or SASE.</li>
						</ul>

						<p>
						We will not consider manuscript queries that do not follow our submission guidelines. If you would like your materials returned, please include an envelope with adequate return postage. We will notify you with regards to all editorial decisions by mail. Please allow us up to 4 months to consider your query before contacting the press.
						<br><br>Please send one copy of your manuscript query to the address below. </p>

						<p>
						<i>Tavern Books</i><br>
						Union Station<br>
						800 NW 6th Ave. #255<br>
						Portland, Oregon  97209
						</p>
					</div>
		  <div class="tab-pane fade" id="tab2">
					<h2>Submitting English-Language, Single-Author Poetry Reprints</h2>
					<br><br>
					<p>Please note that we prefer to publish single volumes of poetry, not ‘selected’ or ‘essential’ works. We feel very strongly about this. If one of your books (or a book by an author for which you hold the copyright) has fallen out of print, and you think it would make a good addition to our Living Library series, please send us the following:  </p>

					<ul class="submissions-list">
						<li>A cover letter with all relevant contact information: your name, postal address, e-mail address, phone number, etc. </li>
						<li> A 250-word (max) author biography.</li>
						<li> 1 copy of your book, or a photocopied version of your book (including the front and back matter as well as the front and back cover).</li>
						<li> A signed and dated copyright permissions form indicating that you have formally obtained or hold all copyright for, and/or reprint rights to, the work. DO NOT assume that you hold the rights to your book, even if your book has fallen out of print. You must contact your former publisher to obtain a written statement declaring that all rights to your book have reverted to you, and that you are the sole copyright holder of your book. We will not, under any circumstance, consider books for publication that do not have formal copyright clearance.</li>
						<li> A stamped postcard or SASE.</li>
					</ul>

					<p>
					We will not consider manuscript queries that do not follow our submission guidelines. If you would like your materials returned, please include an envelope with adequate return postage. We will notify you with regards to all editorial decisions by mail. Please allow us up to 4 months to consider your query before contacting the press.
					<br><br>Please send one copy of your manuscript query to the address below. </p>

					<p>
					<i>Tavern Books</i><br>
					Union Station<br>
					800 NW 6th Ave. #255<br>
					Portland, Oregon  97209
					</p>
				</div>
		  </div>
		</div>

</div></div></div>
