<div class="container">

	<div class="row" style="padding-top:10px;">
		<div class="span10 offset1">
			<h2>Tavern Books is a literary publisher that specializes in reviving poetry collection that have fallen out of print (with an emphasis on works in translation). We ARE NOT accepting unsolicited manuscripts or manuscript queries (including chapbooks) for new works of poetry in English.</h2><br>
			<p class="lead">Currently, we are only reading manuscript queries for poetry books that fall into the following two categories:</p>
		</div>
	</div>
	<div class="row">
		<div class="span7 offset2">
			<p class="lead">
				1.  <a href="#translation">Single-author poetry collections in translation</a> (works translated into English).
				<br><br>2.  <a href="#reprint">Reprints of important single-author poetry collections in English</a> that have been previously published but have fallen out of print. 
			</p>
		</div>
	<div class="row">
		<div class="span10 offset1">
			<p class="lead">If you have a manuscript that falls into one of the aforementioned categories, and feel that it would make a good addition to our Living Library series, please follow the submission guidelines below. Before you send work, we ask that you familiarize yourself with our editorial mission, our authors and titles, and the scope of the press.<br><br>Tavern Books is staffed by published authors and translators; as such, we value your work, your time, and the commitment you’ve given to your craft. Please support our efforts by going to our <a href="http://tavernbooks.com/books">Living Library</a> and purchasing a book by one of our incredible authors.</p>
		</div>
	</div>
	
	<div class="dot-separator"></div>
	
	<div class="row" style="padding-top:30px;">
		<div class="span10 offset1">
			 <a name="translation" class="anchor"></a> <h4>Guidelines for Submitting Poetry Manuscripts in Translation</h4>
			<br><br>
			<p class="lead">Please note that we prefer to publish single volumes of poetry, not ‘selected’ or ‘essential’ works. We feel very strongly about this. If you have a translation manuscript that you would like us to consider for publication, please send us a printed submission with the following: </p>
		</div>	
		<div class="span7 offset2"><p>
			&#8212; A cover letter with all relevant contact information: your name, postal address, e-mail address, phone number, etc. <br><br>
			&#8212; A 250-word (max) author biography.<br><br>
			&#8212; A 250-word (max) biography for each translator involved in the project.<br><br>
			&#8212; A brief book description (500 words max) that addresses the book's cultural, historical, and artistic significance.<br><br>
			&#8212; A signed and dated copyright permission form indicating that ALL copyright permissions and/or reprint rights have been formally obtained by the author and translator. We will not, under any circumstance, consider books for publication that do not have formal copyright clearance. <br><br>
			&#8212; A 10- to 15-page book excerpt.<br><br>
			&#8212; A stamped postcard or SASE.<br><br></p>
		</div>
		<div class="span10 offset1">
		
			<p class="lead">
			We will not consider manuscript queries that do not follow our submission guidelines. If you would like your materials returned, please include an envelope with adequate return postage. We will notify you with regards to all editorial decisions by mail. Please allow us up to 4 months to consider your query before contacting the press.
			<br><br>Please send three copies of your manuscript query to the address below. </p> 
		</div>
		<div class="span7 offset2">
			<p>
			<i>Tavern Books</i><br>
			Attn: Carl Adamshick<br>
			20 NE 30th Avenue<br>
			Portland, Oregon  97232
			</p>
		</div>
	</div>
	
	<div class="dot-separator"></div>
	
	
	<div class="row" style="padding-top:30px; padding-bottom:60px;">
		<div class="span10 offset1">
			 <a name="reprint" class="anchor"></a> <h4>Submission Guidelines for English-Language, Single-Author Poetry Reprints</h4>
			<br><br>
			<p class="lead">Please note that we prefer to publish single volumes of poetry, not ‘selected’ or ‘essential’ works. We feel very strongly about this. If one of your books (or a book by an author for which you hold the copyright) has fallen out of print, and you think it would make a good addition to our Living Library series, please send us the following:  </p>
		</div>	
		<div class="span7 offset2"><p>
			&#8212; A cover letter with all relevant contact information: your name, postal address, e-mail address, phone number, etc. <br><br>
			&#8212; A 250-word (max) author biography.<br><br>
			&#8212; 1 copy of your book, or a photocopied version of your book (including the front and back matter as well as the front and back cover).<br><br>
			&#8212; A signed and dated copyright permissions form indicating that you have formally obtained or hold all copyright for, and/or reprint rights to, the work. DO NOT assume that you hold the rights to your book, even if your book has fallen out of print.<br><br>You must contact your former publisher to obtain a written statement declaring that all rights to your book have reverted to you, and that you are the sole copyright holder of your book. We will not, under any circumstance, consider books for publication that do not have formal copyright clearance.<br><br>
			&#8212; A stamped postcard or SASE.<br><br></p>
		</div>
		<div class="span10 offset1">
		
			<p class="lead">
			We will not consider manuscript queries that do not follow our submission guidelines. If you would like your materials returned, please include an envelope with adequate return postage. We will notify you with regards to all editorial decisions by mail. Please allow us up to 4 months to consider your query before contacting the press.
			<br><br>Please send three copies of your manuscript query to the address below. </p> 
		</div>
		<div class="span7 offset2">
			<p>
			<i>Tavern Books</i><br>
			Attn: Carl Adamshick<br>
			20 NE 30th Avenue<br>
			Portland, Oregon  97232
			</p>
		</div>
	</div>


</div>