<div class="container">
		<div class="row" style="padding-top:10px;">
			<div class="span10 offset1">
				<h2>Tavern Books publishes six full-length titles a year, roughly a book every six weeks.  Subscribe today and the next six titles will be delivered to your door at a substantially discounted price.  From time to time, subscibers will be offered special perks, discounts, and special limited-edition literary gifts.</h2><br><br><h4>Paperback subscriptions are $75.00 + FREE shipping (value $102, not including shipping)</h4><br><br><h4>Hardback supscriptions are $125.00 + FREE shipping (value $180, not including shipping)</h4>
			</div>
		</div>
		<div class="row">
			<div class="span7 offset2">
				<p class="lead">
				</p>
			</div>
		<div class="row">
			<div class="span10 offset1">
				<p class="lead"></p>
			</div>
		</div>
	</div>
</div>