<div class="container">
		<div class="row" style="padding-top:10px;">
			<div class="span10 offset1">
				<h2>Tavern Books publishes six full-length titles a year, roughly a book every six weeks.  Subscribe today and the next six titles will be delivered to your door at a substantially discounted price.  From time to time, subscribers will be offered special perks, discounts, and special limited-edition literary gifts.</h2>
				<br><br>
				<h4>Paperback subscriptions are $75.00 + FREE shipping (value $102, not including shipping)</h4><br>
				<div class="row">
					<div class="span5">
						<img class="paperback" style="width:500px;height:400px;" src="/assets/subscriptions_sc_front.png">
					</div>				
					<div class="span5">
						<img class="paperback" style="width:500px;height:400px;" src="/assets/subscriptions_sc_spine.png">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="span2">
						<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="E6PDGVFXUH232">
							<input class="btn btn-primary btn-large" type="submit" value="Add to Cart" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
					<div class="span1">			
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="JKM5CZAYY3334">
							<input class="btn btn-inverse btn-large" type="submit" value="Buy Now" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				</div>				

				<br><br>
				<h4>Hardback supscriptions are $125.00 + FREE shipping (value $180, not including shipping)</h4><br>
				<div class="row">
					<div class="span2">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="YDXRLE228RFZ4">
							<input class="btn btn-primary btn-large" type="submit" value="Add to Cart" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
					<div class="span1">			
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="FQ6C55E5Q2JQE">
							<input class="btn btn-inverse btn-large" type="submit" value="Buy Now" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				</div>
			</div>
		</div>
			<div class="span10 offset1">
				<p class="lead"></p>
			</div>
		</div>
	</div>
</div>