<div class="container">
	<div class="row">
		<div class="span2" style="padding-top:8px;">
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="PD53WMM2FEGYJ">
				<input class="btn btn-primary btn-large" type="submit" border="0" value="Donate" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>		
		</div>
		<div class="span9 offset1">
			<h2>Tavern Books is supported by the generosity of individuals, family foundations, and corporations. When you support the press with a tax-deductible donation, you enable us to continue working with the world’s finest poets and translators, and to advocate for the literary arts on an international scale.</h2> 
			<p class="lead">Your gift can be made using our secure online “Donate” button, or by sending a check written to “Tavern Books” with the word “Donation” in the memo line.<br><br>
			There are many giving options, and we are happy to help you customize your giving experience. Please contact us by email (<a href="mailto:info@tavernbooks.com">info@tavernbooks.com</a>) if you would like more details about supporting Tavern Books.</p> 

			<p><i>Tavern Books</i>
			<br>Union Station
			<br>800 NW 6th Ave. #255
			<br>Portland, OR  97209</p>
		</div>
	</div>

	<div class="row" style="padding-top:50px;">
		<ul class="nav nav-tabs submissions-title">
		  <li class="active"><a href="#individuals" data-toggle="tab">Individuals</a></li>
		  <li><a href="#organizations" data-toggle="tab">Organizations</a></li>
		</ul>
	</div>


	<div class="tab-content">
	  	<div class="tab-pane fade in active" id="individuals">
		  	<div class="row" style="padding-left:20px; padding-top:30px;">
		  		<h1 align="center">Donor Levels for Individuals</h1><br><br>

		  		<div class="span5">
		  			<h2>Visionary: $5000 & Over</h2>
				  	When you donate as a visionary, you will be:
			  		<ul class="submissions-list">
			  			<li>Recognized as a donor in our year-end print catalog.</li>
						<li>Listed as a donor on our website.</li> 
						<li>Have the option to be recognized by name on the donor page in all forthcoming Tavern Books titles for one year from the time of your donation.</li>
			  		</ul>
		  
			  	Additionally, you will receive:
			  		<ul class="submissions-list">
			  			<li>A year-long chapbook, paperback, hardcover, and Honest Pint subscription.</li> 
						<li>A copy of every handmade hardcover chapbook we print during the donation year (we make only 26 copies of each title).</li>
					</ul>
				</div>
				<div class="span5 offset1">
					<h2>Patron: $2,500 to $4,999</h2>
					When you donate as a patron, you will be:
			  		<ul class="submissions-list">
			  			<li>Recognized as a donor in our year-end print catalog.</li>
						<li>Listed as a donor on our website.</li> 
						<li>Have the option to be recognized by name on the donor page in all forthcoming Tavern Books titles for one year from the time of your donation.</li>
			  		</ul>
			  		Additionally, you will receive:
			  		<ul class="submissions-list">
			  			<li>A year-long chapbook, paperback, hardcover, and Honest Pint subscription.</li> 
					</ul>
				</div>
			</div>

		  	<div class="row" style="padding-left:20px;">
		  		<div class="span5">
		  			<h2>Partner: $1,000 to $2,499</h2>
				  	When you donate as a partner, you will be:
			  		<ul class="submissions-list">
			  			<li>Recognized as a donor in our year-end print catalog.</li>
						<li>Listed as a donor on our website.</li> 
						<li>Have the option to be recognized by name on the donor page in all forthcoming Tavern Books titles for one year from the time of your donation.</li>
			  		</ul>
			  		Additionally, you will receive:
			  		<ul class="submissions-list">
			  			<li>A year-long chapbook, paperback, and Honest Pint subscription.</li> 
					</ul>
				</div>
				<div class="span5 offset1">
					<h2>Friend: $300 to $999</h2>
				  	When you donate as a friend, you will be:
			  		<ul class="submissions-list">
			  			<li>Recognized as a donor in our year-end print catalog.</li>
						<li>Listed as a donor on our website.</li> 
						<li>Have the option to be recognized by name on the donor page in one forthcoming Tavern Books title of your choice.</li>
			  		</ul>
			  	</div>
		  	</div>

		  	<div class="row" style="padding-left:20px;">
		  		<div class="span5">
		  			<h2>Supporter: Up to $299</h2>
				  	When you donate as a supporter, you will be:
			  		<ul class="submissions-list">
			  			<li>Recognized as a donor in our year-end print catalog.</li>
						<li>Listed as a donor on our website.</li> 
			  		</ul>
		  		</div>
		  	</div>
		</div>



	  	<div class="tab-pane fade" id="organizations">
		  	<div class="row" style="padding-left:20px; padding-top:30px;">
		  		<h1 align="center">Donor Levels for Organizations</h1><br><br>

		 		<div class="span5">
			  		<h2>$5000 & Over</h2>
		  
			  		<ul class="submissions-list">
			  			<li>Your organization will be recognized as a donor in our year-end print catalog with the option to have its logo displayed. </li>
						<li>Listed as a donor on our website with the option to have its logo displayed.</li> 
						<li>Recognized by name on the donor page in <i>all</i> forthcoming Tavern Books titles for one year (from the time of your donation) with the option to have its logo displayed.</li>
			  		</ul>
		  		</div>
		  		<div class="span5 offset1">
		  			<h2>$2,500 to $4,999</h2>
		  			<ul class="submissions-list">
			  			<li>Your organization will be recognized as a donor in our year-end print catalog with the option to have its logo displayed. </li>
						<li>Listed as a donor on our website with the option to have its logo displayed.</li> 
						<li>Recognized by name on the donor page in <i>one</i> forthcoming Tavern Books titles for one year (from the time of your donation) with the option to have its logo displayed.</li>
			  		</ul>
			  	</div>
		  	</div>


		  	<div class="row" style="padding-left:20px;">
		  		<div class="span5">
		  			<h2>$1,000 to $2,499</h2>

			  		<ul class="submissions-list">
			  			<li>Your organization will be recognized as a donor in our year-end print catalog with the option to have its logo displayed. </li>
						<li>Listed as a donor on our website with the option to have its logo displayed.</li> 
			  		</ul>
		  		</div>

		  		<div class="span5 offset1">
		  			<h2>Up to $999</h2>
			  		<ul class="submissions-list">
			  			<li>Your organization will be recognized as a donor in our year-end print catalog with the option to have its logo displayed. </li>
			  		</ul>
		  		</div>

		  	</div>

		</div>
	</div>

	<div class="dot-separator">
	</div>

	<div class="row">
		<div class="span10 offset1" align="center" style="padding-top:40px;">
			<p class="lead">The support of our readers is essential to the growth and success of Tavern Books. We gratefully acknowledge and offer our humble thanks to the following organizations and individuals for their vision and generosity:</p>
			<br><br><h5>GRANT SUPPORT PROVIDED BY</h5><br>
			<p><a href="http://www.lannan.org">Lannan Foundation</a></p>
			<p><a href="http://www.williamstafford.org/">The Friends of William Stafford</a>
			<br><a href="http://www.literary-arts.org/">Literary Arts</a>
			<br><a href="http://www.oregonartscommission.org/">Oregon Arts Commission</a>
			<br><a href="http://www.thecommunityfund.com/">Spirit Mountain Community Fund</a>
			<br><a href="http://www.culturaltrust.org/">Oregon Cultural Trust</a>
			<br><a href="http://www.thelibrafoundation.org/">Libra Foundation</a></p>
			<br><br><h5>VISIONARIES ($5,000 and over)</h5>
			<p>
				<br>Anonymous (2)
				<br>The Mancini Family
			</p>

			<br><br><h5>Patrons ($2,500 to $4,999)</h5>
			<p>
				<br>Anonymous (3)
				<br>Pierre Rioux
				<br>Leah & Bill Stenson
			</p>

			<br><br><h5>Partners ($1,000 to $2,499)</h5>
			<p>
				<br>Gabriel Boehmer
				<br>Dean & Karen Garyet
				<br>Jennifer Jones & Mark Swartz
				<br>Marjorie Simon
				<br>Dan Wieden
				<br>Ron & Kathy Wrolstad

			</p>

			<br><br><h5>Friends ($300 to $999)</h5>
			<p>
				<br>Anonymous (4)
				<br>Joseph Bednarik
				<br>Audrey Block
				<br>Matthew Dickman
				<br>Chris Faatz & Mary Zartman <i>(in memory of Vern Faatz)</i>
				<br>Dan Gerber
				<br>Quinton Hallett
				<br>Kathryn Harbour
				<br>Mark Jarman
				<br>Glenna Luschei
				<br>Joseph Millar & Dorianne Laux
				<br>Rodger Moody
				<br>Phoebe Nobles
				<br>Mary Ann Ryan
				<br>Carol Sklenicka & R.M. Ryan
				<br>Donna Swartz
				<br>Jonathan Wells
				<br>David Wevill
				<br>John Witte & Deb Casey

			</p>

			<br><br><h5>Supporters (Up to $299)</h5>
			<p>
				<br>Dave Adamshick
				<br>Stephanie Adams-Santos
				<br>Jeffrey Alfier
				<br>Kathy Anderson
				<br>Diana Arterian
				<br>Suzanne Asmus
				<br>David Axelrod
				<br>Tim Barnes
				<br>Dan Bellm
				<br>Rebecca Burrell
				<br>Heather Brown
				<br>Henry Carlile
				<br>Erin Carver
				<br>Patricia Carver
				<br>Jerome David Casey
				<br>Tex Clark & Anna Campbell
				<br>Rick Comandich
				<br>Meaghan Corwin
				<br>Tonaya Craft
				<br>Olivia Croom
				<br>Michael Davidson & Patricia Johnson
				<br>Susan Denning
				<br>Molly Dickinson
				<br>Rich Eichen
				<br>Jan Ellison
				<br> Erickson
				<br>Peter Everwine
				<br>Elyse Fenton
				<br>Patricia Fisher
				<br>Jerry & Martha Gatchel
				<br>Albert Goldbarth
				<br>Willow Hall
				<br>Robert Hass
				<br>Robert Hedin
				<br>Maddelyn High
				<br>Tom Hogan
				<br>Shirley Horowitz
				<br>Jacqueline Hoyt
				<br>Ana Jokkmokk
				<br>J. Kleinstein
				<br>Matthew Korfhage
				<br>Monica King
				<br>Ted Kooser
				<br>Brett Fletcher Lauer
				<br>Rhett Lawrence & LeeAnn Friedman
				<br>Joseph Leitschuh
				<br>Philip Levine
				<br>Shannon & David Ludeman
				<br>Ruth Madievsky
				<br>Michael & Taunia Mann
				<br>Paul & Karma Martone
				<br>Jo McDougall
				<br>Megan McMorran
				<br>Richard Meeker & Ellen Rosenblum
				<br>Liz Mehl
				<br>Paul & Grace Merchant
				<br>Leah Middlebrook
				<br>Airin Miller
				<br>Gary Miranda & Patty Cassidy
				<br>Danielle Mitchell
				<br>James Moore
				<br>John Morrison & Kim Thomas
				<br>Patricia & Robert Mossbrucker
				<br>Judith Norton
				<br>Adam Oliansky
				<br>Ann Marie O'Malley & Burton Ford
				<br>Ken Pallack & Paulann Petersen
				<br>John Parks
				<br>Rodney Pease
				<br>Dre Perlaki
				<br>Virginia Perry
				<br>Paul Pierce & Joanne Fuller
				<br>Christine Placek
				<br>Jay Ponteri
				<br>Donna Prinzmetal & Stephen Kirsch
				<br>Alice Quinn
				<br>Andrew Ragland
				<br>Martha Ragland
				<br>Shelagh Regan
				<br>Nicholas Reiner
				<br>Leslie Riester & Tamara Sorelli
				<br>David Rivard
				<br>Richard Robbins
				<br>David Roderick
				<br>Lex Runciman
				<br>Charles Seluzicki
				<br>Marie Scarles
				<br>Sue & Wally Schaefer
				<br>Evan P. Schneider
				<br>Penelope Schott
				<br>Joanne Lee Shaver
				<br>Lee Shore
				<br>Clare Shreve
				<br>Ed Skoog
				<br>R.L. Solivais
				<br>Joe Thaler & Ariel Stone
				<br>Mary Szybist & Gerald Harp
				<br>Charlotte & Robert K. Udziela
				<br>Michael & Sarah Van Kleeck
				<br>Don Whittemore
				<br>Zosia Wiatr
				<br>Margaret Willer
				<br>Kevin Williams
				<br>Vince & Patty Wixon
				<br>Michael Wynn
				<br>Rebecca Yates
				<br>Rebecca Youngstrom & Ronald Atwood

			</p>
			
			
		</div>
	</div>
</div>