<div class="row">
	<div class="span12">
		<img src="/assets/summer2016.jpg" alt="2016 Support Banner"/>
	</div>
</div>

<div class="row-text">
	<h2>Tavern Books is supported by the generosity of individuals, family foundations, and corporations. When you support the press with a tax-deductible donation, you enable us to continue working with the world’s finest poets and translators, and to advocate for the literary arts on an international scale.</h2>
</div>

<div class="row-text">
	<h1 align="center" style="padding-bottom:5px;">Giving Levels for Individuals</h1>
	<div class="row">
		<div class="span4">
			<img src="/assets/supporter-button.jpg" alt="Supporter Button"/>
		</div>
		<div class="span4">
			<img src="/assets/friend-button.jpg" alt="Friend Button"/>
		</div>
		<div class="span4">
			<img src="/assets/partner-button.jpg" alt="Partner Button"/>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset2">
			<img src="/assets/patron-button.jpg" alt="Patron Button"/>
		</div>
		<div class="span4">
			<img src="/assets/visionary-button.jpg" alt="Visionary Button"/>
		</div>
	</div>
</div>
<div class="row-text">
	<p class="lead">Your gift can also be made by sending a check written to “Tavern Books” with the word “Donation” in the memo line.<br><br>
	There are many giving options, and we are happy to help you customize your giving experience. Please contact us by email (<a href="mailto:info@tavernbooks.org">info@tavernbooks.org</a>) or phone (503-890-5043) if you would like more details about supporting Tavern Books.</p>

	<p align="center"><i>Tavern Books</i>
	<br>Union Station
	<br>800 NW 6th Ave. #255
	<br>Portland, OR  97209</p>
</div>
