<div class="container">
  <div class="row">
    <div align="center">
        <div class="row">
          <img src="/assets/wrolstad_logo_and_header.jpg" alt="Wrolstad Submission Banner" id="wrolstad-banner"/>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="nav-wrolstad-tabs" class="row" style="padding-top:40px;">
    <div class="row">
      <ul class="nav nav-tabs submissions-title" style="float:none;display:inline-block">
        <li class="active" style="float:none;display:inline-block"><a href="#tab1" data-toggle="tab">The Series</a></li>
        <li style="float:none;display:inline-block"><a href="#tab2" data-toggle="tab">Submit</a></li>
        <li style="float:none;display:inline-block"><a href="#tab3" data-toggle="tab">The Poets</a></li>
        <li style="float:none;display:inline-block"><a href="#tab4" data-toggle="tab">The Residency</a></li>
        <li style="float:none;display:inline-block"><a href="#tab5" data-toggle="tab">Testimonials</a></li>
      </ul>
    </div>
  </div>
</div>


  <!-- Tab 1: Overview -->
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="tab-content" style="padding-top:20px;">
        <div class="tab-pane fade in active" id=tab1>
          <div class="row">
            <div align="center">
                <div class="row" align="left">
                    <p>The Wrolstad Contemporary Poetry Series exists to champion exceptional literary works by young women poets through book publication in The Living Library, the Tavern Books catalog of innovative poets ranging from first-time authors and neglected masters to Pulitzer Prize winners and Nobel Laureates. Once a year, we invite submissions of new poetry collections from any woman 40 years of age or younger who is a US citizen, regardless of publication history. The Series honors the life and work of Greta Wrolstad (1981-2005), author of <i>Night is Simply a Shadow</i> (2013) and <i>Notes on Sea &amp; Shore</i> (2010). </p>
                </div>
                <div class="row">
                  <h2 style="font-style:underline" align="left">What Makes This Series Unique</h2>
                  <p align="left">We aim to form lasting and meaningful relationships with our Wrolstad authors, championing their poetry careers long-term.  Unlike presses that use the guest judge/book prize format, it is our objective to continue publishing each poet we select.</p>
                  <p align="left">Open Reading Period: October 1st - January 15th | Reading Fee: $25.00</p>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h2 class="submissions-title">Eligibility:</h2>
                    <ul style="list-style:circle;text-align:left;">
                      <li>The series is open to female poets 40 years of age or younger, regardless of publication history.</li>
                      <li>Entrants must be US citizens</li>
                      <li>Manuscripts must be previously unpublished full-length collections of original poetry written in English.</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h2>Published Poets Receive:</h2>
                    <ul style="list-style:circle;text-align:left;">
                      <li>A $1,000 advance on book sales.</li>
                      <li>A working relationship with an editorial staff.</li>
                      <li>Dual paperback/hardcover publication, national distribution</li>
                      <li>A month-long residency at <a href="http://www.clyderice.org/index.html">The Rice Place</a> in Carver, Oregon</li>
                    </ul>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Tab 2: The Poets -->
        <div class="tab-pane fade" id=tab3>
          <div class="row">
            <div align="center">
                <div class="row wrolstad-poet-row">
                    <div class="col-md-4">
                      <img src="/assets/poet_greta.jpg" class="wrolstad-poets" alt="greta">
                    </div>
                    <div class="col-md-8">
                      <p>Greta Wrolstad (1981–2005) was born and raised in Corvallis, Oregon. She died from injuries sustained in a car accident. Wrolstad graduated from the Robert D. Clark Honors College at the University of Oregon and attended the University of Montana’s Creative Writing Program, where she served as the poetry editor of CutBank. Among her honors are inclusion in Best New Poets 2007, a scholarship from Fence Books to attend the Summer Literary Seminars in St. Petersburg, Russia, and a 2008 Pushcart Prize for “Flickers of Light Become the Movement of Thousands.” Her poems have appeared in The Canary, Black Warrior Review, A Public Space, Octopus Magazine, and CutBank. In her honor, the University of Montana offers the Greta Wrolstad Travel Award, and the Summer Literary Seminars offers the Greta Wrolstad Scholarship for Young Poets, an annual award given to a female poet under the age of thirty to attend the Summer Literary Seminars in St. Petersburg. In 2010 Tavern Books published her collection Notes on Sea & Shore. </p>
                    </div>
                </div>
                <div class="row wrolstad-poet-row">
                    <div class="col-md-8">
                      <p>Megan Levad's poems have appeared in Tin House, Fence, Denver Quarterly, Mantis, the Everyman’s Library anthology Killer Verse, and London art and fashion magazine AnOther. She also writes lyrics for composers Tucker Fuller and Kristin Kuster. A native of rural Iowa, Megan lives, teaches, and writes in San Francisco.</p>
                    </div>
                    <div class="col-md-4">
                      <img src="/assets/poet_meg.jpg" class="wrolstad-poets" alt="meg">
                    </div>
                </div>
                <div class="row wrolstad-poet-row">
                    <div class="col-md-4">
                      <img src="/assets/poet_ruth.jpg" class="wrolstad-poets" alt="ruth">
                    </div>
                    <div class="col-md-8">
                      <p>Ruth Madievsky was born in Moldova and currently lives in Los Angeles. Her work has appeared in Blackbird, Gulf Coast, Prairie Schooner, Rattle, West Branch, ZYZZYVA, and elsewhere. Madievsky was a 2015 Tin House Scholar in Poetry and is a chapbook reader for Gold Line Press. She is also a doctoral student at USC’s School of Pharmacy and a research assistant at an HIV clinic specializing in maternal care in Downtown Los Angeles. You can find her at ruthmadievsky.com. </p>
                    </div>
                </div>
                <div class="row wrolstad-poet-row">
                    <div class="col-md-8">
                      <p>Elsbeth Pancrazi studied poetry at Vassar College and New York University. She has been recognized as a Poets House Fellow and an artist-in-residence at Caldera Arts in Sisters, Oregon. Her writing has appeared in A Public Space; Best New Poets 2013, BOMBlog, Forklift, Ohio; H_ngm_n, and Sixth Finch. She lives in Brooklyn, New York. </p>
                    </div>
                    <div class="col-md-4">
                      <img src="/assets/poet_elsbeth.jpg" class="wrolstad-poets" alt="elsbeth">
                    </div>
                </div>
                <div class="row wrolstad-poet-row">
                    <div class="col-md-4">
                      <img src="/assets/poet_chen_w.jpg" class="wrolstad-poets" alt="chen_w">
                    </div>
                    <div class="col-md-8">
                      <p>Wendy Chen is the recipient of the Academy of American Poets Most Promising Young Poet Prize, and fellowships from the Kimmel Harding Nelson Center for the Arts and the Barbara Deming Memorial Fund. Her work has been accepted in numerous publications such as Crazyhorse, Rattle, American Poets, and Hayden’s Ferry Review. She earned her MFA in poetry from Syracuse University. She is currently co-founder and editor for Figure 1.</p>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Tab 3: The Residency -->
        <div class="tab-pane fade" id=tab4>
          <div class="row">
            <div align="center">
                <div class="row">
                  <div class="col-md-9">
                    <h2>The Rice Place</h2>
                    <p>To support the advancement of Wrolstad authors’ artistic practice, each year’s selected poet is invited to participate in a fully funded month-long residency at The Rice Place, a beautiful 10-acre estate in Carver, Oregon, that sits right alongside the Clackamas River. During her residency, the visiting poet will deliver readings, craft talks, and workshops both on the property and in venues around Portland. In addition to covering all lodging and airfare expenses, Tavern Books provides residents with an honorarium. The Wrolstad Residency is a partnership between Tavern Books and <a href="http://www.clyderice.org/index.html">The Friends of Clyde Rice</a>, a non-profit organization whose mission is to steward the legacy of the late Oregon writer Clyde Rice and to preserve the historic property where he lived and worked.</p>
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/rice-house.jpg" class="rice-house-image" alt="rice-house">
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Tab 4: Testimonials -->
        <div class="tab-pane fade" id=tab5>
          <div class="row">
            <div align="center">
                <div class="row">

                </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
