<div class="container">
    <div class="row">
      <div align="center">
        <div class="row">
          <img src="/assets/wrolstad_logo_and_header.jpg" alt="Wrolstad Submission Banner" id="wrolstad-banner"/>
        </div>
      </div>
    </div>

    <div id="nav-wrolstad-tabs" class="row" style="padding-top:40px;">
      <div class="row">
        <ul class="nav nav-tabs submissions-title" style="float:none;display:inline-block">
          <li class="active" style="float:none;display:inline-block"><a href="#tab1" data-toggle="tab">The Series</a></li>
          <li style="float:none;display:inline-block"><a href="#tab2" data-toggle="tab">Submit</a></li>
          <li style="float:none;display:inline-block"><a href="#tab3" data-toggle="tab">The Poets</a></li>
          <li style="float:none;display:inline-block"><a href="#tab4" data-toggle="tab">The Residency</a></li>
          <li style="float:none;display:inline-block"><a href="#tab5" data-toggle="tab">Testimonials</a></li>
          <li style="float:none;display:inline-block"><a href="#tab6" data-toggle="tab">FAQs</a></li>
        </ul>
      </div>
    </div>
    <!-- Tab 1: Overview -->
    <div class="row">
      <div class="col-md-10">
        <div class="tab-content" style="padding-top:20px;">
          <div class="tab-pane fade in active" id=tab1>
            <div class="row">
              <div align="center">
                <div class="row" align="justify">
                  <p>The Wrolstad Contemporary Poetry Series exists to champion exceptional literary works by young women poets through book publication in The Living Library, the Tavern Books catalog of innovative poets ranging from first-time authors and neglected masters to Pulitzer Prize winners and Nobel Laureates. Once a year, we invite submissions of new poetry collections from any woman 40 years of age or younger who is a US citizen, regardless of publication history. The Series honors the life and work of Greta Wrolstad (1981-2005), author of <i>Night is Simply a Shadow</i> (2013) and <i>Notes on Sea &amp; Shore</i> (2010). </p>
                </div>
                <div class="row">
                  <h2 style="font-style:underline">What Makes This Series Unique</h2>
                  <p align="justify">We aim to form lasting and meaningful relationships with our Wrolstad authors, championing their poetry careers long-term.  In lieu of the guest-judge/book-prize format, all submissions are read solely by Tavern Books editors with the objective to continue publishing each poet we select.</p>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h2 class="submissions-title">Eligibility</h2>
                    <ul style="text-align:left;">
                      <li>The series is open to female poets 40 years of age or younger, regardless of publication history.</li>
                      <li>Entrants must be US citizens</li>
                      <li>Manuscripts must be previously unpublished full-length collections of original poetry written in English.</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h2>Published Poets Receive</h2>
                    <ul style="text-align:left;">
                      <li>A $1,000 advance on book sales.</li>
                      <li>A working relationship with an editorial staff.</li>
                      <li>Dual paperback/hardcover publication, national distribution</li>
                      <li>A month-long residency at <a href="http://www.clyderice.org/index.html">The Rice Place</a> in Carver, Oregon</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-12">
                  <h2>Open Reading Period: October 1st - January 15th | Reading Fee: $15.00</h2>
                </div>
              </div>
            </div>
          </div>
          <!-- Tab 2: Submit -->
          <div class="tab-pane fade" id=tab2>
            <div class="row">
              <div align="left">
                <div class="row">
                    <h2 align="center">Manuscript Preparation (**Please submit the following in a single document**)</h2>
                    <ul>
                        <li>Manuscripts should be a minimum of 40 pages of text with no more than one poem included on a page. Poems should be single-spaced using a standard 12-point serif font (Times, Times New Roman, Garamond).</li>
                        <li>In the same file, include a 1-page cover letter with your name, date of birth, mailing address, phone number, and email address. This cover letter should include the title of your manuscript, your author bio, relevant publication history, and a brief description of your book (optional).</li>
                        <li>Include a title page listing the title of your manuscript.</li>
                        <li>Include a Table of Contents.</li>
                        <li>Include your last name and book title in the header of each manuscript page.</li>
                        <li>Number all manuscript pages.</li>
                        <li>If applicable, an acknowledgments page listing previous and forthcoming journal publications for poems may be included in the manuscript.
                       **Submissions that do not follow these guidelines will not be considered for publication.**</li>
                    </ul>

                </div>
              </div>
              <!-- <div align="center">
                <br>
                <button type="button" class="btn btn-large btn-default" name="button"><a href="https://tavernbooks.submittable.com/submit">Submit Here</a></button>
              </div> -->
            </div>
          </div>
          <!-- Tab 2: The Poets -->
          <div class="tab-pane fade" id=tab3>
            <div class="row">
              <div align="center">
                <div class="row wrolstad-poet-row">
                  <div class="col-md-4 wrolstad-poets-image">
                    <img src="/assets/poet_greta.jpg" class="wrolstad-poets" alt="greta">
                  </div>
                  <div class="col-md-8">
                    <p class="wrolstad-poets-bio">Greta Wrolstad (1981–2005) was born and raised in Corvallis, Oregon. She died from injuries sustained in a car accident. Wrolstad graduated from the Robert D. Clark Honors College at the University of Oregon and attended the University of Montana’s Creative Writing Program, where she served as the poetry editor of CutBank. Among her honors are inclusion in Best New Poets 2007, a scholarship from Fence Books to attend the Summer Literary Seminars in St. Petersburg, Russia, and a 2008 Pushcart Prize for “Flickers of Light Become the Movement of Thousands.” Her poems have appeared in <i>The Canary, Black Warrior Review, A Public Space, Octopus Magazine, and CutBank</i>. In her honor, the University of Montana offers the Greta Wrolstad Travel Award, and the Summer Literary Seminars offers the Greta Wrolstad Scholarship for Young Poets, an annual award given to a female poet under the age of thirty to attend the Summer Literary Seminars in St. Petersburg. In 2010 Tavern Books published her collection <i>Notes on Sea & Shore</i>. </p>
                  </div>
                </div>
                <div class="row wrolstad-poet-row">
                  <div class="col-md-8">
                    <p class="wrolstad-poets-bio">Megan Levad's poems have appeared in <i>Tin House, Fence, Denver Quarterly, Mantis</i>, the Everyman’s Library anthology <i>Killer Verse</i>, and London art and fashion magazine <i>AnOther</i>. She also writes lyrics for composers Tucker Fuller and Kristin Kuster. A native of rural Iowa, Megan lives, teaches, and writes in San Francisco.</p>
                  </div>
                  <div class="col-md-4 wrolstad-poets-image">
                    <img src="/assets/poet_meg.jpg" class="wrolstad-poets" alt="meg">
                  </div>
                </div>
                <div class="row wrolstad-poet-row">
                  <div class="col-md-4 wrolstad-poets-image">
                    <img src="/assets/poet_ruth.jpg" class="wrolstad-poets" alt="ruth">
                  </div>
                  <div class="col-md-8">
                    <p class="wrolstad-poets-bio">Ruth Madievsky was born in Moldova and currently lives in Los Angeles. Her work has appeared in <i>Blackbird, Gulf Coast, Prairie Schooner, Rattle, West Branch, ZYZZYVA</i>, and elsewhere. Madievsky was a 2015 Tin House Scholar in Poetry and is a chapbook reader for Gold Line Press. She is also a doctoral student at USC’s School of Pharmacy and a research assistant at an HIV clinic specializing in maternal care in Downtown Los Angeles. You can find her at ruthmadievsky.com. </p>
                  </div>
                </div>
                <div class="row wrolstad-poet-row">
                  <div class="col-md-8">
                    <p class="wrolstad-poets-bio">Elsbeth Pancrazi studied poetry at Vassar College and New York University. She has been recognized as a Poets House Fellow and an artist-in-residence at Caldera Arts in Sisters, Oregon. Her writing has appeared in <i>A Public Space; Best New Poets 2013, BOMBlog, Forklift, Ohio; H_ngm_n, and Sixth Finch</i>. She lives in Brooklyn, New York. </p>
                  </div>
                  <div class="col-md-4 wrolstad-poets-image">
                    <img src="/assets/poet_elsbeth.jpg" class="wrolstad-poets" alt="elsbeth">
                  </div>
                </div>
                <div class="row wrolstad-poet-row">
                  <div class="col-md-4 wrolstad-poets-image">
                    <img src="/assets/poet_chen_w.jpg" class="wrolstad-poets" alt="chen_w">
                  </div>
                  <div class="col-md-8">
                    <p class="wrolstad-poets-bio">Wendy Chen is the recipient of the Academy of American Poets Most Promising Young Poet Prize, and fellowships from the Kimmel Harding Nelson Center for the Arts and the Barbara Deming Memorial Fund. Her work has been accepted in numerous publications such as <i>Crazyhorse, Rattle, American Poets, and Hayden’s Ferry Review</i>. She earned her MFA in poetry from Syracuse University. She is currently co-founder and editor for <i>Figure 1</i>.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Tab 3: The Residency -->
          <div class="tab-pane fade" id=tab4>
            <div class="row">
              <div align="center">
                <div class="row">
                  <div class="row">
                    <div class="col-md-8">
                      <p style="text-align:justify;">To support the advancement of Wrolstad authors’ artistic practice, each year’s selected poet is invited to participate in a fully funded month-long residency at The Rice Place, a beautiful 10-acre estate in Carver, Oregon, that sits right alongside the Clackamas River. During her residency, the visiting poet will deliver readings, craft talks, and workshops both on the property and in venues around Portland. In addition to covering all lodging and airfare expenses, Tavern Books provides residents with an honorarium. The Wrolstad Residency is a partnership between Tavern Books and <a href="http://www.clyderice.org/index.html">The Friends of Clyde Rice</a>, a non-profit organization whose mission is to steward the legacy of the late Oregon writer Clyde Rice and to preserve the historic property where he lived and worked.</p>
                    </div>
                    <div class="col-md-4">
                      <img src="/assets/rice-house.jpg" class="rice-house-image" alt="rice-house">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Tab 5: Testimonials -->
          <div class="tab-pane fade" id=tab5>
            <div class="row">
              <div align="center">
                <div class="row wrolstad-poet-row">
                  <div class="col-md-12">
                    <p class="wrolstad-poets-bio">“Being selected for the Wrolstad redefined my idea of what publication meant. As a Wrolstad Poet, it meant having the fiercely kind and intelligent minds of the Tavern editors at my side, interrogating and championing my work through the book-making process. The level of care they put into creating a press that reflects the values of readers is humbling—my book and I are so lucky to have benefited from this labor of love.”</p><br>
                    <p style="align-text:left;">&mdash; Elsbeth Pancrazi</p>
                  </div>
                </div>
                <div class="row wrolstad-poet-row">
                  <div class="col-md-12">
                    <p class="wrolstad-poets-bio">"The Wrolstad Contemporary Poetry Series is a dreamboat. Every step of the publication process—from line editing to cover art selection to setting up readings around the country—was a collaborative delight. Tavern Books is a force in the poetry world, and they will advocate for you and your book like no other."</p><br>
                    <p style="align-text:left;">&mdash; Ruth Madievsky</p>
                  </div>
                </div>
                <div class="row wrolstad-poet-row">
                  <div class="col-md-12">
                    <p class="wrolstad-poets-bio">“One of the many special things about being in the Tavern Books catalog is that I’m in the company of all these international luminaries. Holding my first collection gave me enormous faith that my poems would find an audience. Now I believe my writing is meant for someone.”</p><br>
                    <p style="align-text:left;">&mdash; Megan Levad</p>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Tab 6: FAQs -->
          <div class="tab-pane fade" id=tab6>
            <div class="row">
              <div align="justify">
                <div class="row">
                  <div class="row">
                    <div class="span8">
                      <h1 style="text-align:center;">Frequently Asked Questions</h1>
                      <br><br><br>
                      <p><i>Am I eligible for the Series if I have previously published a book?</i></p>
                      <p>Yes, you are eligible. The manuscript you submit to the Series, however, must be previously unpublished.</p>
                      <br><br>
                      <p><i>Is this a book prize?</i></p>
                      <p>No. We want lasting and meaningful relationships with our authors, which is why all of our books are beautifully designed, offset printed in both paperback and hardcover editions, and kept in print. We seek to publish multiple books by our authors, which seldom occurs at presses that run book prizes. We refuse to follow the current trend of print-on-demand and short-run-digital printing. We are actively building a diverse catalog of innovative poets who represent both the past and the present of our literary landscape. Tavern Books was founded by poets, translators, and designers, and everything we do reflects our devotion to the literary arts and print culture.</p>
                      <br><br>

                      <p><i>Why is there a $25 reading fee?</i></p>
                      <p>Your fee will help offset the editorial and administrative expenses involved in selecting a book for publication. We do not use outside readers or screeners—all book manuscripts submitted to the Series will be carefully read and considered by the Tavern Books editorial staff.</p>
                      <br><br>

                      <p><i>Who picks your books for publication? Is there a guest judge?</i></p>
                      <p>All books in the Series are read and selected by the Tavern Books editorial staff. We seek to publish multiple books by our authors, which seldom occurs at presses that use the guest judge/book prize format.</p>
                      <br><br>

                      <p><i>Do you publish one type of book or poet? Is there a particular “school” of poetry you’re looking for?</i></p>
                      <p>No. We publish authors who write in their own voices, who follow their own paths, and whose visions are singular. Our catalog, The Living Library, contains books by a wide range of poets writing from various literary traditions. We’re not interested in literary trends. We publish books that move us.</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>




</div>

<script type="text/javascript">
    console.log('hello natalie!')
    $('.submissions-title').on('click', function() {
        console.log('hello carl!');
        $('#wrolstad-banner').css('display', 'none')
    });
</script>
