<div id="nav-wrolstad-tabs" class="row" style="padding-top:40px;">
    <div class="col-md-10">
        <ul class="nav nav-tabs wrolstad-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">The Series</a></li>
            <li><a href="#tab2" data-toggle="tab">Past Poets</a></li>
            <li><a href="#tab3" data-toggle="tab">The Residency</a></li>
            <li><a href="#tab4" data-toggle="tab">Testimonials</a></li>
            <li><a href="#tab5" data-toggle="tab">Eligibility</a></li>
        </ul>

    </div>
</div>









<!-- <div id="nav-submissions-lists" class="row" style="padding-top:40px;">
  <div class="col-md-10">
    <ul class="nav nav-tabs submissions-title">
      <li class="active"><a href="#tab1" data-toggle="tab">Poetry Manuscripts in Translation</a></li>
      <li><a href="#tab2" data-toggle="tab">English-Language, Single-Author Poetry Reprints</a></li>
    </ul>
  </div>
</div> -->
