<div class="container">

	<div class="row" style="padding-top:10px; text-align: center;">
		<div class="span12">
			<p style="text-transform: uppercase; color: #bd312c; font-size: 48px; font-family: 'Raleway', sans-serif; font-weight: 400; line-height: 50px;">THE WROLSTAD<br><span style="font-weight:500">CONTEMPORARY POETRY SERIES</span></p><br>
		</div>
	</div>
	<div class="row">
		<div class="span10 offset1">
			<h2>Manuscript submissions must be postmarked between October 1 and January 15 each year. We will announce the Series selection in June. The selection will be published the following year.</h2>
		</div>
	</div>
	<div class="row">
		<div class="span10 offset1">
			<p class="lead">
				To honor the life and work of Greta Wrolstad (1981-2005), author of <a href="/books/23"><i>Night is Simply a Shadow</i></a> (2013) and <a href="/books/5"><i>Notes on Sea & Shore</a></i> (2010), Tavern Books invites submissions of new poetry collections through The Wrolstad Contemporary Poetry Series.
				<br><br>
				This series exists to champion exceptional literary works from young women poets through a book publication in The Living Library, the Tavern Books catalog of innovative poets ranging from first-time authors and neglected masters to Pulitzer Prize winners and Nobel Laureates. The Wrolstad Contemporary Poetry Series is open to any woman aged 40 years or younger who is a US citizen, regardless of publication history.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span10 offset1">
			<h3>Poets whose books are published through the Series will receive:</h3>
			<p class="lead">
				&#9675; &nbsp; A standard royalty contract
				<br>&#9675; &nbsp; A working relationship with an editorial staff and publisher
				<br>&#9675; &nbsp; Publication of their book in both paperback and hardcover editions
				<br>&#9675; &nbsp; National distribution through Small Press Distribution
			</p>
		</div>
	</div>
	<div class="dot-separator"></div>
	<div class="row">
		<div class="span8 offset2">
			<h1 align="center">Submission Guidelines</h1>
			<br><br>
			<p class="lead">Eligibility</p>
			<p>&#9679; The Wrolstad Contemporary Poetry Series is only open to female poets aged 40 years or younger. Entrants must be US citizens.
				<br>
			&#9679; Manuscripts must be previously unpublished full-length collections of original poetry written in English (40 pages of text, minimum). Portions of the manuscript may have appeared elsewhere (such as chapbooks and literary journals), but the manuscript as a whole must be previously unpublished.
			<br>
			&#9679; Manuscripts may be submitted simultaneously to other publishers. However, we ask that you notify Tavern Books immediately if your manuscript is accepted elsewhere.</p>
			<br><br>
			<p class="lead">Reading Fee</p>
			<p>There is a $25 reading fee. Checks should be made payable to “Tavern Books” with “Wrolstad” written in the memo line. Please, include your check with your submission materials. Reading fees are nonrefundable.</p>
			<br><br>
			<p class="lead">Manuscript Preparation</p>
			<p>&#9679; Manuscripts should be a minimum of 40 pages of text, typed on one side only, with no more than one poem included on a page. Poems should be single spaced using a standard 12-point serif font (Times, Times New Roman, Garamond). Only typed, legible copies are acceptable. Manuscripts should be held together using a binder clip; please, do not staple or bind your manuscript in any way.
			<br>
			&#9679; Include a 1-page cover letter with your name, date of birth, mailing address, phone number, and email address. This cover letter should include the title of your manuscript, your author bio, relevant publication history, and a brief description of your book (optional).
			<br>
			&#9679; Include a title page listing the title of your manuscript.
			<br>
			&#9679; Include a Table of Contents.
			<br>
			&#9679; Include your last name and book title in the header of each manuscript page.
			<br>
			&#9679; Number all manuscript pages.
			<br>
			&#9679; If applicable, an Acknowledgments page listing previous and forthcoming journal publications for poems may be included in the manuscript.
			<br>
			&#9679; Include a self-addressed stamped postcard. We will send this to you acknowledging receipt of your manuscript.
			<br>
			&#9679; Include a self-addressed stamped #10 envelope for notification of the Series selection.
			<br>
			&#9679; Using 1 envelope, please send 2 copies of your manuscript, check, and all submission materials to:
			<span style="background-color: #FFFF00"><b>Tavern Books</b> | Union Station | 800 NW 6th Avenue #255 | Portland, Oregon 97209</span>
			<br>
			&#9679; Submissions that do not follow these guidelines will not be considered for publication.</p>
		</div>
	</div>
	<div class="dot-separator"></div>
	<div class="row">
		<div class="span10 offset1" align="center">
			<h2>&#9672;</h2>
			<h1>Submissions must be postmarked annually between <br><span style="background-color: #FFFF00">October 1</span> and <span style="background-color: #FFFF00">January 15</span>.</h1>
			<br><p>All manuscripts will be recycled after a book has been selected for publication. Each year’s Series selection will be announced during the month of June in our e-newsletter, over social media, and in print publications.</p>
		</div>
	</div>
	<div class="dot-separator"></div>
	<div class="row">
		<div class="span8 offset2">
			<h1 style="text-align:center;">Frequently Asked Questions</h1>
			<br><br><br>
			<p class="lead">Am I eligible for the Series if I have previously published a book?</p>
			<p>Yes, you are eligible. The manuscript you submit to the Series, however, must be previously unpublished.</p>
			<br><br>
			<p class="lead">Is this a book prize?</p>
			<p>No. We want lasting and meaningful relationships with our authors, which is why all of our books are beautifully designed, offset printed in both paperback and hardcover editions, and kept in print. We seek to publish multiple books by our authors, which seldom occurs at presses that run book prizes. We refuse to follow the current trend of print-on-demand and short-run-digital printing. We are actively building a diverse catalog of innovative poets who represent both the past and the present of our literary landscape. Tavern Books was founded by poets, translators, and designers, and everything we do reflects our devotion to the literary arts and print culture.</p>
			<br><br>
			
			<p class="lead">Why is there a $25 reading fee?</p>
			<p>Your fee will help offset the editorial and administrative expenses involved in selecting a book for publication. We do not use outside readers or screeners—all book manuscripts submitted to the Series will be carefully read and considered by the Tavern Books editorial staff.</p>
			<br><br>
			
			<p class="lead">Who picks your books for publication? Is there a guest judge?</p>
			<p>All books in the Series are read and selected by the Tavern Books editorial staff. We seek to publish multiple books by our authors, which seldom occurs at presses that use the guest judge/book prize format.</p>
			<br><br>
			
			<p class="lead">Do you publish one type of book or poet? Is there a particular “school” of poetry you’re looking for?</p>
			<p>No. We publish authors who write in their own voices, who follow their own paths, and whose visions are singular. Our catalog, The Living Library, contains books by a wide range of poets writing from various literary traditions. We’re not interested in literary trends. We publish books that move us.</p>
		
		</div>
	</div>

</div>