// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin deselected {
	border: 1px solid #CCCCCC;
	cursor:pointer;	
	&:hover {background-color: #222222; color: #ffffff;}
	color: #999999;
	background-color: inherit;
	
}

@mixin selected {
	border:1px solid #222222;
	cursor:default;	
	&:hover {background-color: #222222; color: #ffffff;}
	color: #ffffff;
	background-color: #222222;
	
}


.hardcover {
	display:none;
}

.paperback {
	display:block;
}

.btn-booktype-hardcover {
	@include deselected;
}
.btn-booktype-paperback {
	@include selected;
}

.container.display-hardcover {

	.paperback {
		display:none;
	}
		
	.hardcover {
		display:block;
	}
	.btn-booktype-hardcover {
		@include selected;
	}
	.btn-booktype-paperback {
		@include deselected;
	}	
}



.btn-booktype {
	width:100px;
	padding: 7px 15px 6px 15px;
	font-family: 'Helvetica', Arial, sans-serif;
    font-size: 11.5px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
	margin-right:2px;
	transition: all 0.5s ease-out 0s;
}

.booktype-toggle {

	padding-top:15px;
	padding-bottom:25px;

}