@media screen and (max-width:500px) {
/********** ELEMENTS *************/

.container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
/*Book images, as found on Subscriptions page*/
.paperback {
  margin-bottom: 5px;
  width: 100%;
}



/********** FOOTER *************/


  #footer {
    border-top-style: groove;
    border-top-width: thin;
    width: 100%;
  }
  .tavern-foot {
    margin: 0px;
    width: 100%;
  }
  .tavern-foot h5 {
    margin-bottom: 8px;
  }
  .footer-left {
    display: none;
  }
  .footer-center {
    display: none;
  }
  .footer-right {
    text-align: center;
  }

/********** APPLICATION CONTAINER *************/
/*For these to play right, you need to flex the #homepage-container in a vertical alignment*/
  #homepage-container {
    display: flex;
    flex-direction: column;
  }
  .brand-container.row {
    display: inline;
    margin-left: 0px;
    width: 100%;
  }
  .triangle-container {
    background-color: #fff;
    margin-left: 0px;
    padding: 0px;
    width: 100%;

  }
  .triangles-div {
    display: inline;
  }
  .triangle {
    text-align: center;
  }
  .triangle h2 {
    margin-bottom: 5px;
  }
  .cf {
    display: none;
  }

/********** NAVBAR *******************/
#tavern-nav-collapse ul {
  background-color: white;
}
#tavern-nav-collapse li {
  padding-bottom: 10px;
  width: 100%;
}
#support-list-link {
  display: none;
}


/********** SUBSCRIPTIONS PAGE *******/
.paypal-buttons {
  text-align: center;
}

/********** SUBMISSIONS PAGE ********/
#nav-submissions-lists ul {
  display: flex;
}

/********** LIVING LIBRARY PAGE ********/
.book-list-item {
  flex-direction: column;
  text-align: center;
}
.book-list-details {
  margin-left: 0px;
}
.living-library-header {
  text-align: center;
}
.living-library-sorter {
  text-align: center;
}


















}
