<div class="pop-up-container">
		<div class="pop-up-content">
			<button type="button" class="pop-up-button" name="button">X</button>
			<h2>Tavern Books Events!</h2>
			<div class="pop-up-event">
				<h3><a href="https://www.literary-arts.org/what-we-do/wordstock/lit-crawl">Lit Crawl Portland: <i>Sex Death, and Other Unmentionables</i></a></h3>
				<p>
					Friday, November 4th, 8:00 - 8:45pm at Cassidy's Bar<br>
					1331 SW Washington St., Portland, OR 97205
				</p>
			</div>
			<div class="pop-up-event">
				<h3><a href="http://www.literary-arts.org/what-we-do/wordstock">Wordstock 2016: Portland's Book Festival</a></h3>
				<p>
					Saturday, November 5th, 9am - 6pm<br>
					at Portland Art Museum<br>
					1219 SW Park Ave., Portland, OR 97205<br>
					Tavern Books will be at Booth 40 in the Fields Sunken Ballroom (1st Floor)
				</p>
			</div>
			<div class="pop-up-event">
				<h3><a href="http://www.literary-arts.org/what-we-do/wordstock">Ruth Madievsky Pop-Up Reading @ Wordstock</a></h3>
				<p>
					Saturday, November 5th, 4-4:15pm<br>
					at Portland Art Museum<br>
					1219 SW Park Ave., Portland, OR 97205<br>
					In the Modern and Contemporary Art gallery, paired with Franz von Stuck
				</p>
			</div>
		</div>
</div>

<div class="container" id="homepage-container">
	<div class="row" style="padding-top:20px;">
		<div class="span3" style="text-align:center; background-color:white; padding:10px; padding-top:170px;">
			<div class="triangle">
				<h2><a href="/wrolstad-series">Wrolstad Contemporary Poetry Series</a></h2>
				<p class="lead"><i>Our Submission-based Series</i></p>
				<div class="cf">
					<a href="/wrolstad-series"><img class="bottom" src="/assets/homepage-books-2.png" /></a>
					<a href="/wrolstad-series"><img class="top" src="/assets/homepage-books.png" /></a>
				</div>
			</div>
		</div>

		<div class="span3 offset1" style="text-align:center; background-color:white; padding:10px;">
			<div class="triangle">
				<h2><a href="/books">The Living Library</a></h2>
				<p class="lead"><i>Our Publishing Program</i></p>
				<div class="cf">
					<a href="/books"><img class="bottom" src="/assets/homepage-broadsides-2.png" /></a>
					<a href="/books"><img class="top" src="/assets/homepage-broadsides.png" /></a>
				</div>
			</div>
		</div>

		<div class="span3 offset1" style="text-align:center; background-color:white; padding:10px; padding-top:170px;">
			<div class="triangle">
				<h2><a href="/honest-pint">Book Subscriptions</a></h2>
				<p class="lead"><i>Our Poetics Subscription Series</i></p>
				<div class="cf">
					<a href="/subscriptions"><img class="bottom" src="/assets/homepage-pint-2.png" /></a>
					<a href="/subscriptions"><img class="top" src="/assets/homepage-pint.png" /></a>
				</div>
			</div>
		</div>
	</div>

	<p class="divider" style="text-align:center; font-size:48px; padding-top:30px;">&#9672;</p>


	<div class="row">
		<div class="span10 offset1" style="padding-top:20px; text-align:center;">
			<p class="title">Tavern Books</p>
			<br>
			<h2><i>Our Mission:</i> Tavern Books is a 501(c)(3) not-for-profit poetry publisher that exists to print, promote, and preserve works of literary vision, to foster a climate of cultural preservation, and to disseminate books in a way that benefits the reading public.</h2>
		</div>
	</div>

	<script>
		$(".triangle").hover( function () {
			$(this).find(".top").toggleClass("hidden");
			$(this).find("h2 a").addClass("hover");
		}, function () {
			$(this).find(".top").toggleClass("hidden");
			$(this).find("h2 a").removeClass("hover");
		});
		$('.pop-up-button').on('click', function() {
			$('.pop-up-container').css('display', 'none');
			document.cookie = "pop-up-cookie=1";
		})
		if (/pop-up-cookie/.test(document.cookie)) {
			el = document.getElementsByClassName('pop-up-container')[0]
			el.style.display = 'none';
		}
	</script>
</div>
