<div class="row">	
	<div class="span10 offset1" style="padding-top:20px; text-align:center;">
		<p class="title">Tavern Books</p>
			<h2>Tavern Books is a 501(c)(3) not-for-profit organization that exists to print, promote, and preserve works of literary vision, to foster a climate of cultural preservation, and to disseminate books <br>in a way that benefits the reading public.</h2>
	</div>
</div>

<p class="divider" style="text-align:center; font-size:48px; padding-top:30px;">&#9672;</p>

<div class="row" style="padding-top:20px;">
	<div class="span3" style="text-align:center; background-color:white; padding:10px;">
		<h2><a href="/books">The Living Library</a></h2>
		<p class="lead"><i>Our Publishing Program</i></p>
			<div id="cf">
			  <a href="/books"><img class="bottom" src="/assets/homepage-books-2.png" /></a>
			  <a href="/books"><img class="top" src="/assets/homepage-books.png" /></a>
			</div>
	</div>
			
	<div class="span3 offset1" style="text-align:center; background-color:white; padding:10px;">
		<h2><a href="/poetry-state">Poetry State</a></h2>
		<p class="lead"><i>Our Books for Libraries Campaign</i></p>
			<div id="cf">
			  <a href="/poetry-state"><img class="bottom" src="/assets/homepage-broadsides-2.png" /></a>
			  <a href="/poetry-state"><img class="top" src="/assets/homepage-broadsides.png" /></a>
			</div>
	</div>

	<div class="span3 offset1" style="text-align:center; background-color:white; padding:10px;">
				<h2><a href="/honest-pint">The Honest Pint</a></h2>
			<p class="lead"><i>Our Poetics Subscription Series</i></p>
				<div id="cf">
				  <a href="/honest-pint"><img class="bottom" src="/assets/homepage-pint-2.png" /></a>
				  <a href="/honest-pint"><img class="top" src="/assets/homepage-pint.png" /></a>
				</div>
	</div>
</div>
	