<div class="row">	
	<div class="span9 offset2" style="padding-top:20px;">
		<p class="title">Tavern Books</p><br>
			<h1>is a not-for-profit organization that exists to print, promote, and preserve works of literary vision.We revive out-of-print books and publish works in translation from the world’s finest poets.</h1>
		<br>
		
		<div class="row">
			
			<div class="span3">
			<h3><a href="/books">The Living Library</a></h3>
				<div id="cf">
				  <a href="/books"><img class="bottom" src="/assets/homepage-books-2.jpg" /></a>
				  <a href="/books"><img class="top" src="/assets/homepage-books.jpg" /></a>
				</div>
			</div>
			
			<div class="span3 offset1">
			<h3><a href="/broadsides">Broadsides</a></h3>
				<div id="cf">
				  <a href="/broadsides"><img class="bottom" src="/assets/homepage-broadsides-2.jpg" /></a>
				  <a href="/broadsides"><img class="top" src="/assets/homepage-broadsides.jpg" /></a>
				</div>
			</div>
			
			
		</div>
	</div>
	
</div>
