<div class="container">
	<div class="row">
		<div class="span10 offset1" style="padding-top:20px; text-align:center;">
			<p class="title">Tavern Books</p>
			<br>
			<h2><i>Our Mission:</i> Tavern Books is a 501(c)(3) not-for-profit poetry publisher that exists to print, promote, and preserve works of literary vision, to foster a climate of cultural preservation, and to disseminate books in a way that benefits the reading public.</h2>

			<!--GOOD READS GIVEAWAY WIDGET SCRIPT 9/20/2016-->
			<div id="goodreadsGiveawayWidget203880"><!-- Show static html as a placeholder in case js is not enabled -->
			<div class="goodreadsGiveawayWidget" style="max-width: 350px; margin: 10px auto; padding: 10px 15px; border: 2px solid #EBE8D5; border-radius: 10px;">
			  <style>
			    .goodreadsGiveawayWidget { color: #555; font-family: georgia, serif; font-weight: normal; text-align: left; font-size: 14px;
			      font-style: normal; background: white; }
			    .goodreadsGiveawayWidget p { margin: 0 0 .5em !important; padding: 0; }
			    .goodreadsGiveawayWidgetEnterLink {
			      display: inline-block;
			      color: #181818;
			      background-color: #F6F6EE;
			      border: 1px solid #9D8A78;
			      border-radius: 3px;
			      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			      font-weight: bold;
			      text-decoration: none;
			      outline: none;
			      font-size: 13px;
			      padding: 8px 12px;
			    }
			    .goodreadsGiveawayWidgetEnterLink:hover {
			        color: #181818;
			        background-color: #F7F2ED;
			        border: 1px solid #AFAFAF;
			        text-decoration: none;
			    }
			  </style>
			  <h2 style="margin: 0 0 10px !important; padding: 0 !important; font-style: italic; font-size: 20px; line-height: 20px; font-weight: normal; text-align: center; color: #555;">
			    <a href="http://www.goodreads.com" target="_new">Goodreads</a> Book Giveaway
			  </h2>

			    <div style="float: left;">
			        <a href="https://www.goodreads.com/book/show/28962809"><img alt="Emergency Brake by Ruth Madievsky" title="Emergency Brake by Ruth Madievsky" width="100" src="https://d2arxad8u2l0g7.cloudfront.net/books/1454957110l/28962809.jpg" /></a>
			    </div>

			    <div style="margin: 0 0 0 110px !important; padding: 0 0 0 0 !important;">
			      <h3 style="margin: 0; padding: 0; font-size: 16px; line-height: 20px; font-weight: normal; font-style: normal;">
			          <a href="https://www.goodreads.com/book/show/28962809">Emergency Brake</a>
			      </h3>
			      <h4 style="margin: 0 0 10px; padding: 0; font-style: normal; font-weight: normal;">
			          by <a style="text-decoration: none;" href="https://www.goodreads.com/author/show/7381596.Ruth_Madievsky">Ruth Madievsky</a>
			      </h4>

			      <div class="giveaway_details">
			          <p>
			            Giveaway ends October 20, 2016.
			          </p>
			          <p>
			            See the <a style="text-decoration: none;" href="https://www.goodreads.com/giveaway/show/203880">giveaway details</a>
			            at Goodreads.
			          </p>
			      </div>
			    </div>
			    <div style="clear: both;"></div>


			    <a class="goodreadsGiveawayWidgetEnterLink" href="https://www.goodreads.com/giveaway/enter_choose_address/203880">Enter Giveaway</a>

			</div>
			</div><script src="https://www.goodreads.com/giveaway/widget/203880" type="text/javascript" charset="utf-8"></script>
			<!-- END WIDGET SCRIPT -->
		</div>
</div>

<p class="divider" style="text-align:center; font-size:48px; padding-top:30px;">&#9672;</p>

<div class="row" style="padding-top:20px;">
	<div class="span3" style="text-align:center; background-color:white; padding:10px; padding-top:170px;">
		<div class="triangle">
			<h2><a href="/wrolstad-series">Wrolstad Contemporary Poetry Series</a></h2>
			<p class="lead"><i>Our Submission-based Series</i></p>
			<div class="cf">
				<a href="/wrolstad-series"><img class="bottom" src="/assets/homepage-books-2.png" /></a>
				<a href="/wrolstad-series"><img class="top" src="/assets/homepage-books.png" /></a>
			</div>
		</div>
	</div>

	<div class="span3 offset1" style="text-align:center; background-color:white; padding:10px;">
		<div class="triangle">
			<h2><a href="/books">The Living Library</a></h2>
			<p class="lead"><i>Our Publishing Program</i></p>
			<div class="cf">
				<a href="/books"><img class="bottom" src="/assets/homepage-broadsides-2.png" /></a>
				<a href="/books"><img class="top" src="/assets/homepage-broadsides.png" /></a>
			</div>
		</div>
	</div>

	<div class="span3 offset1" style="text-align:center; background-color:white; padding:10px; padding-top:170px;">
		<div class="triangle">
			<h2><a href="/honest-pint">Book Subscriptions</a></h2>
			<p class="lead"><i>Our Poetics Subscription Series</i></p>
			<div class="cf">
				<a href="/subscriptions"><img class="bottom" src="/assets/homepage-pint-2.png" /></a>
				<a href="/subscriptions"><img class="top" src="/assets/homepage-pint.png" /></a>
			</div>
		</div>
	</div>
</div>

	<script>
		$(".triangle").hover(
		function () {
			$(this).find(".top").toggleClass("hidden");
			$(this).find("h2 a").addClass("hover");
		},

		function () {
			$(this).find(".top").toggleClass("hidden");
			$(this).find("h2 a").removeClass("hover");
		}

		);
	</script>
</div>
